
		<!DOCTYPE html><html><head><meta charset="utf-8"><meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes, minimum-scale=1.0">
		<link rel="stylesheet" type="text/css" href="./styles.css">
		<link rel="stylesheet" type="text/css" href="./prism.css">
		<script src="./prism.js"></script>
		</head><body><div class="page__inner"><main class="main main_width-limit"><article itemscope="" itemtype="http://schema.org/TechArticle"><meta content="Дескрипторы, геттеры и сеттеры свойств" itemprop="name"><div itemprop="author" itemscope="" itemtype="http://schema.org/Person"><meta content="iliakan@gmail.com" itemprop="email"><meta content="Ilya Kantor" itemprop="name"/></meta></div><div itemprop="articleBody"><p>В этой главе мы рассмотрим возможности, которые позволяют очень гибко и мощно управлять всеми свойствами объекта, включая их аспекты – изменяемость, видимость в цикле <code>for..in</code> и даже незаметно делать их функциями.</p>
<p>Они поддерживаются всеми современными браузерами, но не IE8-. Впрочем, даже IE8 их поддерживает, но только для DOM-объектов (используются при работе со страницей, это сейчас вне нашего рассмотрения).</p>
<cut>
<h2><a class="main__anchor" href="#дескрипторы-в-примерах" name="дескрипторы-в-примерах">Дескрипторы в примерах</a></h2><p>Основной метод для управления свойствами – <a href="https://developer.mozilla.org/en/JavaScript/Reference/Global_Objects/Object/defineProperty">Object.defineProperty</a>.</p>
<p>Он позволяет объявить свойство объекта и, что самое главное, тонко настроить его особые аспекты, которые никак иначе не изменить.</p>
<p>Синтаксис:</p>
<div class="code-example" data-trusted="1">
<div class="codebox code-example__codebox">
<div class="codebox__code" data-code="1">
<pre class="line-numbers language-javascript"><code class="language-javascript">Object.defineProperty(obj, prop, descriptor)</code></pre>
</div>
</div>
</div><p>Аргументы:</p>
<dl>
<dt><code>obj</code></dt>
<dd>Объект, в котором объявляется свойство.</dd>
<dt><code>prop</code></dt>
<dd>Имя свойства, которое нужно объявить или модифицировать.</dd>
<dt><code>descriptor</code></dt>
<dd>Дескриптор – объект, который описывает поведение свойства.</dd>
</dl>
<p>В нём могут быть следующие поля:</p>
<ul>
<li><code>value</code> – значение свойства, по умолчанию <code>undefined</code></li>
<li><code>writable</code> – значение свойства можно менять, если <code>true</code>. По умолчанию <code>false</code>.</li>
<li><code>configurable</code> – если <code>true</code>, то свойство можно удалять, а также менять его в дальнейшем при помощи новых вызовов <code>defineProperty</code>. По умолчанию <code>false</code>.</li>
<li><code>enumerable</code> – если <code>true</code>, то свойство просматривается в цикле <code>for..in</code> и методе <code>Object.keys()</code>. По умолчанию <code>false</code>.</li>
<li><code>get</code> – функция, которая возвращает значение свойства. По умолчанию <code>undefined</code>.</li>
<li><code>set</code> – функция, которая записывает значение свойства. По умолчанию <code>undefined</code>.</li>
</ul>
<p>Чтобы избежать конфликта, запрещено одновременно указывать значение <code>value</code> и функции <code>get/set</code>. Либо значение, либо функции для его чтения-записи, одно из двух. Также запрещено и не имеет смысла указывать <code>writable</code> при наличии <code>get/set</code>-функций.</p>
<p>Далее мы подробно разберём эти свойства на примерах.</p>
<h2><a class="main__anchor" href="#обычное-свойство" name="обычное-свойство">Обычное свойство</a></h2><p>Два таких вызова работают одинаково:</p>
<div class="code-example" data-trusted="1">
<div class="codebox code-example__codebox">
<div class="codebox__code" data-code="1">
<pre class="line-numbers language-javascript"><code class="language-javascript">var user = {};

// 1. простое присваивание
user.name = "Вася";

// 2. указание значения через дескриптор
Object.defineProperty(user, "name", { value: "Вася", configurable: true, writable: true, enumerable: true });</code></pre>
</div>
</div>
</div><p>Оба вызова выше добавляют в объект <code>user</code> обычное (удаляемое, изменяемое, перечисляемое) свойство.</p>
<h2><a class="main__anchor" href="#свойство-константа" name="свойство-константа">Свойство-константа</a></h2><p>Для того, чтобы сделать свойство неизменяемым, изменим его флаги <code>writable</code> и <code>configurable</code>:</p>
<div class="code-example" data-highlight-block="0-0,6-7,13-13" data-trusted="1">
<div class="codebox code-example__codebox">
<div class="toolbar codebox__toolbar">
<div class="toolbar__tool">
<a class="toolbar__button toolbar__button_run" data-action="run" href="#" title="выполнить"></a>
</div>
<div class="toolbar__tool">
<a class="toolbar__button toolbar__button_edit" data-action="edit" href="#" target="_blank" title="открыть в песочнице"></a>
</div>
</div>
<div class="codebox__code" data-code="1">
<pre class="line-numbers language-javascript"><code class="language-javascript">"use strict";

var user = {};

Object.defineProperty(user, "name", {
  value: "Вася",
  writable: false, // запретить присвоение "user.name="
  configurable: false // запретить удаление "delete user.name"
});

// Теперь попытаемся изменить это свойство.

// в strict mode присвоение "user.name=" вызовет ошибку
user.name = "Петя";</code></pre>
</div>
</div>
</div><p>Заметим, что без <code>use strict</code> операция записи «молча» не сработает. Лишь если установлен режим <code>use strict</code>, то дополнительно сгенерируется ошибка.</p>
<h2><a class="main__anchor" href="#свойство-скрытое-для-for-in" name="свойство-скрытое-для-for-in">Свойство, скрытое для for…in</a></h2><p>Встроенный метод <code>toString</code>, как и большинство встроенных методов, не участвует в цикле <code>for..in</code>. Это удобно, так как обычно такое свойство является «служебным».</p>
<p>К сожалению, свойство <code>toString</code>, объявленное обычным способом, будет видно в цикле <code>for..in</code>, например:</p>
<div class="code-example" data-highlight-block="5-5" data-trusted="1">
<div class="codebox code-example__codebox">
<div class="toolbar codebox__toolbar">
<div class="toolbar__tool">
<a class="toolbar__button toolbar__button_run" data-action="run" href="#" title="выполнить"></a>
</div>
<div class="toolbar__tool">
<a class="toolbar__button toolbar__button_edit" data-action="edit" href="#" target="_blank" title="открыть в песочнице"></a>
</div>
</div>
<div class="codebox__code" data-code="1">
<pre class="line-numbers language-javascript"><code class="language-javascript">var user = {
  name: "Вася",
  toString: function() { return this.name; }
};

for(var key in user) alert(key);  // name, toString</code></pre>
</div>
</div>
</div><p>Мы бы хотели, чтобы поведение нашего метода <code>toString</code> было таким же, как и стандартного.</p>
<p><code>Object.defineProperty</code> может исключить <code>toString</code> из списка итерации, поставив ему флаг <code>enumerable: false</code>. По стандарту, у встроенного <code>toString</code> этот флаг уже стоит.</p>
<div class="code-example" data-highlight-block="5-8" data-trusted="1">
<div class="codebox code-example__codebox">
<div class="toolbar codebox__toolbar">
<div class="toolbar__tool">
<a class="toolbar__button toolbar__button_run" data-action="run" href="#" title="выполнить"></a>
</div>
<div class="toolbar__tool">
<a class="toolbar__button toolbar__button_edit" data-action="edit" href="#" target="_blank" title="открыть в песочнице"></a>
</div>
</div>
<div class="codebox__code" data-code="1">
<pre class="line-numbers language-javascript"><code class="language-javascript">var user = {
  name: "Вася",
  toString: function() { return this.name; }
};

// помечаем toString как не подлежащий перебору в for..in
Object.defineProperty(user, "toString", {enumerable: false});

for(var key in user) alert(key);  // name</code></pre>
</div>
</div>
</div><p>Обратим внимание, вызов <code>defineProperty</code> не перезаписал свойство, а просто модифицировал настройки у существующего <code>toString</code>.</p>
<h2><a class="main__anchor" href="#свойство-функция" name="свойство-функция">Свойство-функция</a></h2><p>Дескриптор позволяет задать свойство, которое на самом деле работает как функция. Для этого в нём нужно указать эту функцию в <code>get</code>.</p>
<p>Например, у объекта <code>user</code> есть обычные свойства: имя <code>firstName</code> и фамилия <code>surname</code>.</p>
<p>Создадим свойство <code>fullName</code>, которое на самом деле является функцией:</p>
<div class="code-example" data-highlight-block="11-11" data-highlight-inline="6:2-5" data-trusted="1">
<div class="codebox code-example__codebox">
<div class="toolbar codebox__toolbar">
<div class="toolbar__tool">
<a class="toolbar__button toolbar__button_run" data-action="run" href="#" title="выполнить"></a>
</div>
<div class="toolbar__tool">
<a class="toolbar__button toolbar__button_edit" data-action="edit" href="#" target="_blank" title="открыть в песочнице"></a>
</div>
</div>
<div class="codebox__code" data-code="1">
<pre class="line-numbers language-javascript"><code class="language-javascript">var user = {
  firstName: "Вася",
  surname: "Петров"
}

Object.defineProperty(user, "fullName", {
  get: function() {
    return this.firstName + ' ' + this.surname;
  }
});

alert(user.fullName); // Вася Петров</code></pre>
</div>
</div>
</div><p>Обратим внимание, снаружи <code>fullName</code> – это обычное свойство <code>user.fullName</code>. Но дескриптор указывает, что на самом деле его значение возвращается функцией.</p>
<p>Также можно указать функцию, которая используется для записи значения, при помощи дескриптора <code>set</code>.</p>
<p>Например, добавим возможность присвоения <code>user.fullName</code> к примеру выше:</p>
<div class="code-example" data-highlight-block="11-15,18-18" data-trusted="1">
<div class="codebox code-example__codebox">
<div class="toolbar codebox__toolbar">
<div class="toolbar__tool">
<a class="toolbar__button toolbar__button_run" data-action="run" href="#" title="выполнить"></a>
</div>
<div class="toolbar__tool">
<a class="toolbar__button toolbar__button_edit" data-action="edit" href="#" target="_blank" title="открыть в песочнице"></a>
</div>
</div>
<div class="codebox__code" data-code="1">
<pre class="line-numbers language-javascript"><code class="language-javascript">var user = {
  firstName: "Вася",
  surname: "Петров"
}

Object.defineProperty(user, "fullName", {

  get: function() {
    return this.firstName + ' ' + this.surname;
  },

  set: function(value) {
      var split = value.split(' ');
      this.firstName = split[0];
      this.surname = split[1];
    }
});

user.fullName = "Петя Иванов";
alert( user.firstName ); // Петя
alert( user.surname ); // Иванов</code></pre>
</div>
</div>
</div><h2><a class="main__anchor" href="#указание-get-set-в-литералах" name="указание-get-set-в-литералах">Указание get/set в литералах</a></h2><p>Если мы создаём объект при помощи синтаксиса <code>{ ... }</code>,  то задать свойства-функции можно прямо в его определении.</p>
<p>Для этого используется особый синтаксис: <code>get свойство</code> или <code>set свойство</code>.</p>
<p>Например, ниже объявлен геттер-сеттер <code>fullName</code>:</p>
<div class="code-example" data-highlight-block="4-4,8-8,15-19" data-trusted="1">
<div class="codebox code-example__codebox">
<div class="toolbar codebox__toolbar">
<div class="toolbar__tool">
<a class="toolbar__button toolbar__button_run" data-action="run" href="#" title="выполнить"></a>
</div>
<div class="toolbar__tool">
<a class="toolbar__button toolbar__button_edit" data-action="edit" href="#" target="_blank" title="открыть в песочнице"></a>
</div>
</div>
<div class="codebox__code" data-code="1">
<pre class="line-numbers language-javascript"><code class="language-javascript">var user = {
  firstName: "Вася",
  surname: "Петров",

  get fullName() {
    return this.firstName + ' ' + this.surname;
  },

  set fullName(value) {
    var split = value.split(' ');
    this.firstName = split[0];
    this.surname = split[1];
  }
};

alert( user.fullName ); // Вася Петров (из геттера)

user.fullName = "Петя Иванов";
alert( user.firstName ); // Петя  (поставил сеттер)
alert( user.surname ); // Иванов (поставил сеттер)</code></pre>
</div>
</div>
</div><h2><a class="main__anchor" href="#да-здравствуют-get-set" name="да-здравствуют-get-set">Да здравствуют get/set!</a></h2><p>Казалось бы, зачем нам назначать get/set для свойства через всякие хитрые вызовы, когда можно сделать просто функции с самого начала? Например, <code>getFullName</code>, <code>setFullName</code>…</p>
<p>Конечно, в ряде случаев свойства выглядят короче, такое решение просто может быть красивым. Но основной бонус – это гибкость, возможность получить контроль над свойством в любой момент!</p>
<p>Например, в начале разработки мы используем обычные свойства, например у <code>User</code> будет имя <code>name</code> и возраст <code>age</code>:</p>
<div class="code-example" data-trusted="1">
<div class="codebox code-example__codebox">
<div class="codebox__code" data-code="1">
<pre class="line-numbers language-javascript"><code class="language-javascript">function User(name, age) {
  this.name = name;
  this.age = age;
}

var pete = new User("Петя", 25);

alert( pete.age ); // 25</code></pre>
</div>
</div>
</div><p>С обычными свойствами в коде меньше букв, они удобны, причины использовать функции пока нет.</p>
<p>…Но рано или поздно могут произойти изменения. Например, в <code>User</code> может стать более целесообразно вместо возраста <code>age</code> хранить дату рождения <code>birthday</code>:</p>
<div class="code-example" data-trusted="1">
<div class="codebox code-example__codebox">
<div class="codebox__code" data-code="1">
<pre class="line-numbers language-javascript"><code class="language-javascript">function User(name, birthday) {
  this.name = name;
  this.birthday = birthday;
}

var pete = new User("Петя", new Date(1987, 6, 1));</code></pre>
</div>
</div>
</div><p>Что теперь делать со старым кодом, который выводит свойство <code>age</code>?</p>
<p>Можно, конечно, найти все места и поправить их, но это долго, а иногда и невозможно, скажем, если вы взаимодействуете со сторонней библиотекой, код в которой – чужой и влезать в него нежелательно.</p>
<p>Добавление <code>get</code>-функции <code>age</code> позволяет обойти проблему легко и непринуждённо:</p>
<div class="code-example" data-highlight-block="4-10" data-trusted="1">
<div class="codebox code-example__codebox">
<div class="toolbar codebox__toolbar">
<div class="toolbar__tool">
<a class="toolbar__button toolbar__button_run" data-action="run" href="#" title="выполнить"></a>
</div>
<div class="toolbar__tool">
<a class="toolbar__button toolbar__button_edit" data-action="edit" href="#" target="_blank" title="открыть в песочнице"></a>
</div>
</div>
<div class="codebox__code" data-code="1">
<pre class="line-numbers language-javascript"><code class="language-javascript">function User(name, birthday) {
  this.name = name;
  this.birthday = birthday;

  // age будет высчитывать возраст по birthday
  Object.defineProperty(this, "age", {
    get: function() {
      var todayYear = new Date().getFullYear();
      return todayYear - this.birthday.getFullYear();
    }
  });
}

var pete = new User("Петя", new Date(1987, 6, 1));

alert( pete.birthday ); // и дата рождения доступна
alert( pete.age );      // и возраст</code></pre>
</div>
</div>
</div><p>Заметим, что <code>pete.age</code> снаружи как было свойством, так и осталось. То есть, переписывать внешний код на вызов функции <code>pete.age()</code> не нужно.</p>
<p>Таким образом, <code>defineProperty</code> позволяет нам начать с обычных свойств, а в будущем, при необходимости, можно в любой момент заменить их на функции, реализующие более сложную логику.</p>
<h2><a class="main__anchor" href="#другие-методы-работы-со-свойствами" name="другие-методы-работы-со-свойствами">Другие методы работы со свойствами</a></h2><dl>
<dt><a href="https://developer.mozilla.org/en/JavaScript/Reference/Global_Objects/Object/defineProperties">Object.defineProperties(obj, descriptors)</a></dt>
<dd>
<p>Позволяет объявить несколько свойств сразу:</p>
<div class="code-example" data-highlight-block="3-3,7-7,11-11" data-trusted="1">
<div class="codebox code-example__codebox">
<div class="toolbar codebox__toolbar">
<div class="toolbar__tool">
<a class="toolbar__button toolbar__button_run" data-action="run" href="#" title="выполнить"></a>
</div>
<div class="toolbar__tool">
<a class="toolbar__button toolbar__button_edit" data-action="edit" href="#" target="_blank" title="открыть в песочнице"></a>
</div>
</div>
<div class="codebox__code" data-code="1">
<pre class="line-numbers language-javascript"><code class="language-javascript">var user = {}

Object.defineProperties(user, {
  firstName: {
    value: "Петя"
  },

  surname: {
    value: "Иванов"
  },

  fullName: {
    get: function() {
      return this.firstName + ' ' + this.surname;
    }
  }
});

alert( user.fullName ); // Петя Иванов</code></pre>
</div>
</div>
</div></dd>
<dt><a href="https://developer.mozilla.org/en/JavaScript/Reference/Global_Objects/Object/keys">Object.keys(obj)</a>, <a href="https://developer.mozilla.org/en/JavaScript/Reference/Global_Objects/Object/getOwnPropertyNames">Object.getOwnPropertyNames(obj)</a></dt>
<dd>
<p>Возвращают массив – список свойств объекта.</p>
<p><code>Object.keys</code> возвращает только <code>enumerable</code>-свойства.</p>
<p><code>Object.getOwnPropertyNames</code> – возвращает все:</p>
<div class="code-example" data-highlight-block="10-11" data-trusted="1">
<div class="codebox code-example__codebox">
<div class="toolbar codebox__toolbar">
<div class="toolbar__tool">
<a class="toolbar__button toolbar__button_run" data-action="run" href="#" title="выполнить"></a>
</div>
<div class="toolbar__tool">
<a class="toolbar__button toolbar__button_edit" data-action="edit" href="#" target="_blank" title="открыть в песочнице"></a>
</div>
</div>
<div class="codebox__code" data-code="1">
<pre class="line-numbers language-javascript"><code class="language-javascript">var obj = {
  a: 1,
  b: 2,
  internal: 3
};

Object.defineProperty(obj, "internal", {
  enumerable: false
});

alert( Object.keys(obj) ); // a,b
alert( Object.getOwnPropertyNames(obj) ); // a, internal, b</code></pre>
</div>
</div>
</div></dd>
<dt><a href="https://developer.mozilla.org/en/JavaScript/Reference/Global_Objects/Object/getOwnPropertyDescriptor">Object.getOwnPropertyDescriptor(obj, prop)</a></dt>
<dd>
<p>Возвращает дескриптор для свойства <code>obj[prop]</code>.</p>
<p>Полученный дескриптор можно изменить и использовать <code>defineProperty</code> для сохранения изменений, например:</p>
<div class="code-example" data-highlight-block="3-3,5-5,12-12" data-trusted="1">
<div class="codebox code-example__codebox">
<div class="toolbar codebox__toolbar">
<div class="toolbar__tool">
<a class="toolbar__button toolbar__button_run" data-action="run" href="#" title="выполнить"></a>
</div>
<div class="toolbar__tool">
<a class="toolbar__button toolbar__button_edit" data-action="edit" href="#" target="_blank" title="открыть в песочнице"></a>
</div>
</div>
<div class="codebox__code" data-code="1">
<pre class="line-numbers language-javascript"><code class="language-javascript">var obj = {
  test: 5
};
var descriptor = Object.getOwnPropertyDescriptor(obj, 'test');

// заменим value на геттер, для этого...
delete descriptor.value; // ..нужно убрать value/writable
delete descriptor.writable;
descriptor.get = function() { // и поставить get
  alert( "Preved :)" );
};

// поставим новое свойство вместо старого

// если не удалить - defineProperty объединит старый дескриптор с новым
delete obj.test;

Object.defineProperty(obj, 'test', descriptor);

obj.test; // Preved :)</code></pre>
</div>
</div>
</div></dd>
</dl>
<p>…И несколько методов, которые используются очень редко:</p>
<dl>
<dt><a href="https://developer.mozilla.org/en/docs/Web/JavaScript/Reference/Global_Objects/Object/preventExtensions">Object.preventExtensions(obj)</a></dt>
<dd>Запрещает добавление свойств в объект.</dd>
<dt><a href="https://developer.mozilla.org/en/JavaScript/Reference/Global_Objects/Object/seal">Object.seal(obj)</a></dt>
<dd>Запрещает добавление и удаление свойств, все текущие свойства делает <code>configurable: false</code>.</dd>
<dt><a href="https://developer.mozilla.org/en/JavaScript/Reference/Global_Objects/Object/freeze">Object.freeze(obj)</a></dt>
<dd>Запрещает добавление, удаление и изменение свойств, все текущие свойства делает <code>configurable: false, writable: false</code>.</dd>
<dt><a href="https://developer.mozilla.org/en/JavaScript/Reference/Global_Objects/Object/isExtensible">Object.isExtensible(obj)</a></dt>
<dd>Возвращает <code>false</code>, если добавление свойств объекта было запрещено вызовом метода <code>Object.preventExtensions</code>.</dd>
<dt><a href="https://developer.mozilla.org/en/JavaScript/Reference/Global_Objects/Object/isSealed">Object.isSealed(obj)</a></dt>
<dd>Возвращает <code>true</code>, если добавление и удаление свойств объекта запрещено, и все текущие свойства являются <code>configurable: false</code>.</dd>
<dt><a href="https://developer.mozilla.org/en/JavaScript/Reference/Global_Objects/Object/isFrozen">Object.isFrozen(obj)</a></dt>
<dd>Возвращает <code>true</code>, если добавление, удаление и изменение свойств объекта запрещено, и все текущие свойства являются <code>configurable: false, writable: false</code>.</dd>
</dl>
</cut></div></meta></article></main></div></body></html>