
		<!DOCTYPE html><html><head><meta charset="utf-8"><meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes, minimum-scale=1.0">
		<link rel="stylesheet" type="text/css" href="./styles.css">
		<link rel="stylesheet" type="text/css" href="./prism.css">
		<script src="./prism.js"></script>
		</head><body><div class="page__inner"><main class="main main_width-limit"><article itemscope="" itemtype="http://schema.org/TechArticle"><meta content="Редакторы для кода" itemprop="name"><div itemprop="author" itemscope="" itemtype="http://schema.org/Person"><meta content="iliakan@gmail.com" itemprop="email"><meta content="Ilya Kantor" itemprop="name"/></meta></div><div itemprop="articleBody"><p>Для разработки обязательно нужен хороший редактор.</p>
<p>Выбранный вами редактор должен иметь в своем арсенале:</p>
<ol>
<li>Подсветку синтаксиса.</li>
<li>Автодополнение.</li>
<li>«Фолдинг» (от англ. folding) – возможность скрыть-раскрыть блок кода.</li>
</ol>
<cut>
<h2><a class="main__anchor" href="#ide" name="ide">IDE</a></h2><p>Термин IDE (Integrated Development Environment) – «интегрированная среда разработки», означает редактор, который расширен большим количеством «наворотов», умеет работать со вспомогательными системами, такими как багтрекер, контроль версий, и много чего ещё.</p>
<p>Как правило, IDE загружает весь проект целиком, поэтому может предоставлять автодополнение по функциям всего проекта, удобную навигацию по его файлам и т.п.</p>
<p>Если вы ещё не задумывались над выбором IDE, присмотритесь к следующим вариантам.</p>
<ul>
<li>Продукты IntelliJ: <a href="http://www.jetbrains.com/webstorm/">WebStorm</a>, а также в зависимости от дополнительного языка программирования <a href="http://www.jetbrains.com/phpstorm/">PHPStorm (PHP)</a>, <a href="http://www.jetbrains.com/idea/">IDEA (Java)</a>, <a href="http://www.jetbrains.com/ruby/">RubyMine (Ruby)</a> и другие.</li>
<li>Visual Studio, в сочетании с разработкой под .NET (Win)</li>
<li>Продукты на основе Eclipse, в частности <a href="http://www.aptana.com/">Aptana</a> и Zend Studio</li>
<li><a href="http://www.activestate.com/komodo-ide">Komodo IDE</a> и его облегчённая версия <a href="http://www.activestate.com/komodo-edit">Komodo Edit</a>.</li>
<li><a href="http://netbeans.org/">Netbeans</a></li>
</ul>
<p>Почти все они, за исключением Visual Studio, кросс-платформенные.</p>
<p>Сортировка в этом списке ничего не означает. Выбор осуществляется по вкусу и по другим технологиям, которые нужно использовать вместе с JavaScript.</p>
<p>Большинство IDE – платные, с возможностью скачать и бесплатно использовать некоторое время. Но их стоимость, по сравнению с зарплатой веб-разработчика, невелика, поэтому ориентироваться можно на удобство.</p>
<h2><a class="main__anchor" href="#лёгкие-редакторы" name="лёгкие-редакторы">Лёгкие редакторы</a></h2><p>Лёгкие редакторы – не такие мощные, как IDE, но они быстрые и простые, мгновенно стартуют.</p>
<p>Основная сфера применения лёгкого редактора – мгновенно открыть нужный файл, чтобы что-то в нём поправить.</p>
<p>На практике «лёгкие» редакторы могут обладать большим количеством плагинов, так что граница между IDE и «лёгким» редактором размыта, спорить что именно редактор, а что IDE – не имеет смысла.</p>
<p>Достойны внимания:</p>
<ul>
<li><a href="http://www.sublimetext.com/">Sublime Text</a> (кросс-платформенный, shareware).</li>
<li><a href="https://atom.io/">Atom</a> (кросс-платформенный, free).</li>
<li><a href="http://www.scintilla.org/">SciTe</a> простой, легкий и очень быстрый (Windows, бесплатный).</li>
<li><a href="http://sourceforge.net/projects/notepad-plus/">Notepad++</a> (Windows, бесплатный).</li>
<li>Vim, Emacs. Если умеете их готовить.</li>
</ul>
<h2><a class="main__anchor" href="#мои-редакторы" name="мои-редакторы">Мои редакторы</a></h2><p>Лично мои любимые редакторы:</p>
<ul>
<li>Как IDE – редакторы от Jetbrains: для чистого JavaScript <a href="http://www.jetbrains.com/webstorm/">WebStorm</a>, если ещё какой-то язык, то в зависимости от языка: <a href="http://www.jetbrains.com/phpstorm/">PHPStorm (PHP)</a>, <a href="http://www.jetbrains.com/idea/">IDEA (Java)</a>, <a href="http://www.jetbrains.com/ruby/">RubyMine (Ruby)</a>. У них есть и другие редакторы под разные языки, но я ими не пользовался.</li>
<li>Как быстрый редактор – <a href="http://www.sublimetext.com">Sublime Text</a>.</li>
<li>Иногда Visual Studio, если разработка идёт под платформу .NET (Win).</li>
</ul>
<p>Если не знаете, что выбрать – можно посмотреть на них ;)</p>
<h2><a class="main__anchor" href="#не-будем-ссориться" name="не-будем-ссориться">Не будем ссориться</a></h2><p>В списках выше перечислены редакторы, которые использую я или мои знакомые – хорошие разработчики. Конечно, существуют и другие отличные редакторы, если вам что-то нравится – пользуйтесь.</p>
<p>Выбор редактора, как и любого инструмента, во многом индивидуален и зависит от ваших проектов, привычек, личных предпочтений.</p>
</cut></div></meta></article></main></div></body></html>