
		<!DOCTYPE html><html><head><meta charset="utf-8"><meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes, minimum-scale=1.0">
		<link rel="stylesheet" type="text/css" href="./styles.css">
		<link rel="stylesheet" type="text/css" href="./prism.css">
		<script src="./prism.js"></script>
		</head><body><div class="page__inner"><main class="main main_width-limit"><article itemscope="" itemtype="http://schema.org/TechArticle"><meta content="ĐĄŃŃĐžĐşĐ¸" itemprop="name"><div itemprop="author" itemscope="" itemtype="http://schema.org/Person"><meta content="iliakan@gmail.com" itemprop="email"><meta content="Ilya Kantor" itemprop="name"/></meta></div><div itemprop="articleBody"><p>ĐŃŃŃ ŃŃĐ´ ŃĐťŃŃŃĐľĐ˝Đ¸Đš Đ¸ Đ˝ĐžĐ˛ŃŃ ĐźĐľŃĐžĐ´ĐžĐ˛ Đ´ĐťŃ ŃŃŃĐžĐş.</p>
<p>ĐĐ°ŃĐ˝ŃĐź Ń, ĐżĐžĐśĐ°ĐťŃĐš, ŃĐ°ĐźĐžĐłĐž Đ˛Đ°ĐśĐ˝ĐžĐłĐž.</p>
<h2><a class="main__anchor" href="#ŃŃŃĐžĐşĐ¸-ŃĐ°ĐąĐťĐžĐ˝Ń" name="ŃŃŃĐžĐşĐ¸-ŃĐ°ĐąĐťĐžĐ˝Ń">ĐĄŃŃĐžĐşĐ¸-ŃĐ°ĐąĐťĐžĐ˝Ń</a></h2><p>ĐĐžĐąĐ°Đ˛ĐťĐľĐ˝ Đ˝ĐžĐ˛ŃĐš Đ˛Đ¸Đ´ ĐşĐ°Đ˛ŃŃĐľĐş Đ´ĐťŃ ŃŃŃĐžĐş:</p>
<div class="code-example" data-trusted="1">
<div class="codebox code-example__codebox">
<div class="codebox__code" data-code="1">
<pre class="line-numbers language-javascript"><code class="language-javascript">let str = `ĐžĐąŃĐ°ŃĐ˝ŃĐľ ĐşĐ°Đ˛ŃŃĐşĐ¸`;</code></pre>
</div>
</div>
</div><p>ĐŃĐ˝ĐžĐ˛Đ˝ŃĐľ ĐžŃĐťĐ¸ŃĐ¸Ń ĐžŃ Đ´Đ˛ĐžĐšĐ˝ŃŃ <code>"âŚ"</code> Đ¸ ĐžĐ´Đ¸Đ˝Đ°ŃĐ˝ŃŃ <code>'âŚ'</code> ĐşĐ°Đ˛ŃŃĐľĐş:</p>
<ul>
<li>
<p><strong>Đ Đ˝Đ¸Ń ŃĐ°ĐˇŃĐľŃŃĐ˝ ĐżĐľŃĐľĐ˛ĐžĐ´ ŃŃŃĐžĐşĐ¸.</strong></p>
<p>ĐĐ°ĐżŃĐ¸ĐźĐľŃ:</p>
<div class="code-example" data-trusted="1">
<div class="codebox code-example__codebox">
<div class="toolbar codebox__toolbar">
<div class="toolbar__tool">
<a class="toolbar__button toolbar__button_run" data-action="run" href="#" title="Đ˛ŃĐżĐžĐťĐ˝Đ¸ŃŃ"></a>
</div>
<div class="toolbar__tool">
<a class="toolbar__button toolbar__button_edit" data-action="edit" href="#" target="_blank" title="ĐžŃĐşŃŃŃŃ Đ˛ ĐżĐľŃĐžŃĐ˝Đ¸ŃĐľ"></a>
</div>
</div>
<div class="codebox__code" data-code="1">
<pre class="line-numbers language-javascript"><code class="language-javascript">alert(`ĐźĐžŃ
  ĐźĐ˝ĐžĐłĐžŃŃŃĐžŃĐ˝Đ°Ń
  ŃŃŃĐžĐşĐ°`);</code></pre>
</div>
</div>
</div><p>ĐĐ°ĐźĐľŃĐ¸Đź, ŃŃĐž ĐżŃĐžĐąĐľĐťŃ Đ¸, ŃĐžĐąŃŃĐ˛ĐľĐ˝Đ˝Đž, ĐżĐľŃĐľĐ˛ĐžĐ´ ŃŃŃĐžĐşĐ¸ ŃĐ°ĐşĐśĐľ Đ˛ŃĐžĐ´ŃŃ Đ˛ ŃŃŃĐžĐşŃ, Đ¸ ĐąŃĐ´ŃŃ Đ˛ŃĐ˛ĐľĐ´ĐľĐ˝Ń.</p>
</li>
<li>
<p><strong>ĐĐžĐśĐ˝Đž Đ˛ŃŃĐ°Đ˛ĐťŃŃŃ Đ˛ŃŃĐ°ĐśĐľĐ˝Đ¸Ń ĐżŃĐ¸ ĐżĐžĐźĐžŃĐ¸ <code>${âŚ}</code>.</strong></p>
<p>ĐĐ°ĐżŃĐ¸ĐźĐľŃ:</p>
<div class="code-example" data-trusted="1">
<div class="codebox code-example__codebox">
<div class="toolbar codebox__toolbar">
<div class="toolbar__tool">
<a class="toolbar__button toolbar__button_run" data-action="run" href="#" title="Đ˛ŃĐżĐžĐťĐ˝Đ¸ŃŃ"></a>
</div>
<div class="toolbar__tool">
<a class="toolbar__button toolbar__button_edit" data-action="edit" href="#" target="_blank" title="ĐžŃĐşŃŃŃŃ Đ˛ ĐżĐľŃĐžŃĐ˝Đ¸ŃĐľ"></a>
</div>
</div>
<div class="codebox__code" data-code="1">
<pre class="line-numbers language-javascript"><code class="language-javascript">'use strict';
let apples = 2;
let oranges = 3;

alert(`${apples} + ${oranges} = ${apples + oranges}`); // 2 + 3 = 5</code></pre>
</div>
</div>
</div><p>ĐĐ°Đş Đ˛Đ¸Đ´Đ˝Đž, ĐżŃĐ¸ ĐżĐžĐźĐžŃĐ¸ <code>${âŚ}</code> ĐźĐžĐśĐ˝Đž Đ˛ŃŃĐ°Đ˛ĐťŃŃŃ ĐşĐ°Đş Đ¸ ĐˇĐ˝Đ°ŃĐľĐ˝Đ¸Đľ ĐżĐľŃĐľĐźĐľĐ˝Đ˝ĐžĐš <code>${apples}</code>, ŃĐ°Đş Đ¸ ĐąĐžĐťĐľĐľ ŃĐťĐžĐśĐ˝ŃĐľ Đ˛ŃŃĐ°ĐśĐľĐ˝Đ¸Ń, ĐşĐžŃĐžŃŃĐľ ĐźĐžĐłŃŃ Đ˛ĐşĐťŃŃĐ°ŃŃ Đ˛ ŃĐľĐąŃ ĐžĐżĐľŃĐ°ŃĐžŃŃ, Đ˛ŃĐˇĐžĐ˛Ń ŃŃĐ˝ĐşŃĐ¸Đš Đ¸ Ń.Đż. Đ˘Đ°ĐşŃŃ Đ˛ŃŃĐ°Đ˛ĐşŃ Đ˝Đ°ĐˇŃĐ˛Đ°ŃŃ ÂŤĐ¸Đ˝ŃĐľŃĐżĐžĐťŃŃĐ¸ĐľĐšÂť.</p>
</li>
</ul>
<h2><a class="main__anchor" href="#ŃŃĐ˝ĐşŃĐ¸Đ¸-ŃĐ°ĐąĐťĐžĐ˝Đ¸ĐˇĐ°ŃĐ¸Đ¸" name="ŃŃĐ˝ĐşŃĐ¸Đ¸-ŃĐ°ĐąĐťĐžĐ˝Đ¸ĐˇĐ°ŃĐ¸Đ¸">Đ¤ŃĐ˝ĐşŃĐ¸Đ¸ ŃĐ°ĐąĐťĐžĐ˝Đ¸ĐˇĐ°ŃĐ¸Đ¸</a></h2><p>ĐĐžĐśĐ˝Đž Đ¸ŃĐżĐžĐťŃĐˇĐžĐ˛Đ°ŃŃ ŃĐ˛ĐžŃ ŃŃĐ˝ĐşŃĐ¸Ń ŃĐ°ĐąĐťĐžĐ˝Đ¸ĐˇĐ°ŃĐ¸Đ¸ Đ´ĐťŃ ŃŃŃĐžĐş.</p>
<p>ĐĐ°ĐˇĐ˛Đ°Đ˝Đ¸Đľ ŃŃĐžĐš ŃŃĐ˝ĐşŃĐ¸Đ¸ ŃŃĐ°Đ˛Đ¸ŃŃŃ ĐżĐľŃĐľĐ´ ĐżĐľŃĐ˛ĐžĐš ĐžĐąŃĐ°ŃĐ˝ĐžĐš ĐşĐ°Đ˛ŃŃĐşĐžĐš:</p>
<div class="code-example" data-trusted="1">
<div class="codebox code-example__codebox">
<div class="codebox__code" data-code="1">
<pre class="line-numbers language-javascript"><code class="language-javascript">let str = func`ĐźĐžŃ ŃŃŃĐžĐşĐ°`;</code></pre>
</div>
</div>
</div><p>Đ­ŃĐ° ŃŃĐ˝ĐşŃĐ¸Ń ĐąŃĐ´ĐľŃ Đ°Đ˛ŃĐžĐźĐ°ŃĐ¸ŃĐľŃĐşĐ¸ Đ˛ŃĐˇĐ˛Đ°Đ˝Đ° Đ¸ ĐżĐžĐťŃŃĐ¸Ń Đ˛ ĐşĐ°ŃĐľŃŃĐ˛Đľ Đ°ŃĐłŃĐźĐľĐ˝ŃĐžĐ˛ ŃŃŃĐžĐşŃ, ŃĐ°ĐˇĐąĐ¸ŃŃŃ ĐżĐž Đ˛ŃĐžĐśĐ´ĐľĐ˝Đ¸ŃĐź ĐżĐ°ŃĐ°ĐźĐľŃŃĐžĐ˛ <code>${âŚ}</code> Đ¸ ŃĐ°ĐźĐ¸ ŃŃĐ¸ ĐżĐ°ŃĐ°ĐźĐľŃŃŃ.</p>
<p>ĐĐ°ĐżŃĐ¸ĐźĐľŃ:</p>
<div class="code-example" data-trusted="1">
<div class="codebox code-example__codebox">
<div class="toolbar codebox__toolbar">
<div class="toolbar__tool">
<a class="toolbar__button toolbar__button_run" data-action="run" href="#" title="Đ˛ŃĐżĐžĐťĐ˝Đ¸ŃŃ"></a>
</div>
<div class="toolbar__tool">
<a class="toolbar__button toolbar__button_edit" data-action="edit" href="#" target="_blank" title="ĐžŃĐşŃŃŃŃ Đ˛ ĐżĐľŃĐžŃĐ˝Đ¸ŃĐľ"></a>
</div>
</div>
<div class="codebox__code" data-code="1">
<pre class="line-numbers language-javascript"><code class="language-javascript">'use strict';

function f(strings, ...values) {
  alert(JSON.stringify(strings));     // ["Sum of "," + "," =\n ","!"]
  alert(JSON.stringify(strings.raw)); // ["Sum of "," + "," =\\n ","!"]
  alert(JSON.stringify(values));      // [3,5,8]
}

let apples = 3;
let oranges = 5;

//          |  s[0] | v[0] |s[1]| v[1]  |s[2]  |      v[2]      |s[3]
let str = f`Sum of ${apples} + ${oranges} =\n ${apples + oranges}!`;</code></pre>
</div>
</div>
</div><p>Đ ĐżŃĐ¸ĐźĐľŃĐľ Đ˛ŃŃĐľ Đ˛Đ¸Đ´Đ˝Đž, ŃŃĐž ŃŃŃĐžĐşĐ° ŃĐ°ĐˇĐąĐ¸Đ˛Đ°ĐľŃŃŃ ĐżĐž ĐžŃĐľŃĐľĐ´Đ¸ Đ˝Đ° ŃĐ°ŃŃĐ¸: ÂŤĐşŃŃĐžĐş ŃŃŃĐžĐşĐ¸Âť â ÂŤĐżĐ°ŃĐ°ĐźĐľŃŃÂť â ÂŤĐşŃŃĐžĐş ŃŃŃĐžĐşĐ¸Âť â ÂŤĐżĐ°ŃĐ°ĐźĐľŃŃÂť.</p>
<ul>
<li>ĐŁŃĐ°ŃŃĐşĐ¸ ŃŃŃĐžĐşĐ¸ Đ¸Đ´ŃŃ Đ˛ ĐżĐľŃĐ˛ŃĐš Đ°ŃĐłŃĐźĐľĐ˝Ń-ĐźĐ°ŃŃĐ¸Đ˛ <code>strings</code>.</li>
<li>ĐŁ ŃŃĐžĐłĐž ĐźĐ°ŃŃĐ¸Đ˛Đ° ĐľŃŃŃ Đ´ĐžĐżĐžĐťĐ˝Đ¸ŃĐľĐťŃĐ˝ĐžĐľ ŃĐ˛ĐžĐšŃŃĐ˛Đž <code>strings.raw</code>. Đ Đ˝ŃĐź Đ˝Đ°ŃĐžĐ´ŃŃŃŃ ŃŃŃĐžĐşĐ¸ Đ˛ ŃĐžŃĐ˝ĐžŃŃĐ¸ ĐşĐ°Đş Đ˛ ĐžŃĐ¸ĐłĐ¸Đ˝Đ°ĐťĐľ. Đ­ŃĐž Đ˛ĐťĐ¸ŃĐľŃ Đ˝Đ° ŃĐżĐľŃ-ŃĐ¸ĐźĐ˛ĐžĐťŃ, Đ˝Đ°ĐżŃĐ¸ĐźĐľŃ Đ˛ <code>strings</code> ŃĐ¸ĐźĐ˛ĐžĐť <code>\n</code> â ŃŃĐž ĐżĐľŃĐľĐ˛ĐžĐ´ ŃŃŃĐžĐşĐ¸, Đ° Đ˛ <code>strings.raw</code> â ŃŃĐž Đ¸ĐźĐľĐ˝Đ˝Đž Đ´Đ˛Đ° ŃĐ¸ĐźĐ˛ĐžĐťĐ° <code>\n</code>.</li>
<li>ĐĐ°ĐťŃĐ˝ĐľĐšŃĐ¸Đš ŃĐżĐ¸ŃĐžĐş Đ°ŃĐłŃĐźĐľĐ˝ŃĐžĐ˛ ŃŃĐ˝ĐşŃĐ¸Đ¸ ŃĐ°ĐąĐťĐžĐ˝Đ¸ĐˇĐ°ŃĐ¸Đ¸ â ŃŃĐž ĐˇĐ˝Đ°ŃĐľĐ˝Đ¸Ń Đ˛ŃŃĐ°ĐśĐľĐ˝Đ¸Đš Đ˛ <code>${...}</code>, Đ˛ Đ´Đ°Đ˝Đ˝ĐžĐź ŃĐťŃŃĐ°Đľ Đ¸Ń ŃŃĐ¸.</li>
</ul>
<div class="important important_smart">
<div class="important__header"><span class="important__type">ĐĐ°ŃĐľĐź <code>strings.raw</code>?</span></div>
<div class="important__content"><p>Đ ĐžŃĐťĐ¸ŃĐ¸Đľ ĐžŃ <code>strings</code>, Đ˛ <code>strings.raw</code> ŃĐžĐ´ĐľŃĐśĐ°ŃŃŃ ŃŃĐ°ŃŃĐşĐ¸ ŃŃŃĐžĐşĐ¸ Đ˛ ÂŤĐ¸ĐˇĐ˝Đ°ŃĐ°ĐťŃĐ˝Đž Đ˛Đ˛ĐľĐ´ŃĐ˝Đ˝ĐžĐźÂť Đ˛Đ¸Đ´Đľ.</p>
<p>Đ˘Đž ĐľŃŃŃ, ĐľŃĐťĐ¸ Đ˛ ŃŃŃĐžĐşĐľ Đ˝Đ°ŃĐžĐ´Đ¸ŃŃŃ <code>\n</code> Đ¸ĐťĐ¸ <code>\u1234</code> Đ¸ĐťĐ¸ Đ´ŃŃĐłĐžĐľ ĐžŃĐžĐąĐžĐľ ŃĐžŃĐľŃĐ°Đ˝Đ¸Đľ ŃĐ¸ĐźĐ˛ĐžĐťĐžĐ˛, ŃĐž ĐžĐ˝Đž ŃĐ°ĐşĐ¸Đź Đ¸ ĐžŃŃĐ°Đ˝ĐľŃŃŃ.</p>
<p>Đ­ŃĐž Đ˝ŃĐśĐ˝Đž Đ˛ ŃĐľŃ ŃĐťŃŃĐ°ŃŃ, ĐşĐžĐłĐ´Đ° ŃŃĐ˝ĐşŃĐ¸Ń ŃĐ°ĐąĐťĐžĐ˝Đ¸ĐˇĐ°ŃĐ¸Đ¸ ŃĐžŃĐľŃ ĐżŃĐžĐ¸ĐˇĐ˛ĐľŃŃĐ¸ ĐžĐąŃĐ°ĐąĐžŃĐşŃ ĐżĐžĐťĐ˝ĐžŃŃŃŃ ŃĐ°ĐźĐžŃŃĐžŃŃĐľĐťŃĐ˝Đž (ŃĐ˛ĐžĐ¸ ŃĐżĐľŃ. ŃĐ¸ĐźĐ˛ĐžĐťŃ?). ĐĐťĐ¸ ĐśĐľ ĐşĐžĐłĐ´Đ° ĐžĐąŃĐ°ĐąĐžŃĐşĐ° ŃĐżĐľŃ. ŃĐ¸ĐźĐ˛ĐžĐťĐžĐ˛ Đ˝Đľ Đ˝ŃĐśĐ˝Đ° â Đ˝Đ°ĐżŃĐ¸ĐźĐľŃ, ŃŃŃĐžĐşĐ° ŃĐžĐ´ĐľŃĐśĐ¸Ń ÂŤĐžĐąŃŃĐ˝ŃĐš ŃĐľĐşŃŃÂť, Đ˝Đ°ĐąŃĐ°Đ˝Đ˝ŃĐš Đ˝ĐľĐżŃĐžĐłŃĐ°ĐźĐźĐ¸ŃŃĐžĐź ĐąĐľĐˇ ŃŃŃŃĐ° ŃĐżĐľŃ. ŃĐ¸ĐźĐ˛ĐžĐťĐžĐ˛.</p>
</div></div>
<p>ĐĐ°Đş Đ˛Đ¸Đ´Đ˝Đž, ŃŃĐ˝ĐşŃĐ¸Ń Đ¸ĐźĐľĐľŃ Đ´ĐžŃŃŃĐż ĐşĐž Đ˛ŃĐľĐźŃ: Đş Đ˛ŃŃĐ°ĐśĐľĐ˝Đ¸ŃĐź, Đş ŃŃĐ°ŃŃĐşĐ°Đź ŃĐľĐşŃŃĐ° Đ¸ Đ´Đ°ĐśĐľ, ŃĐľŃĐľĐˇ <code>strings.raw</code> â Đş ĐžŃĐ¸ĐłĐ¸Đ˝Đ°ĐťŃĐ˝Đž Đ˛Đ˛ĐľĐ´ŃĐ˝Đ˝ĐžĐźŃ ŃĐľĐşŃŃŃ ĐąĐľĐˇ ŃŃŃŃĐ° ŃŃĐ°Đ˝Đ´Đ°ŃŃĐ˝ŃŃ ŃĐżĐľŃ. ŃĐ¸ĐźĐ˛ĐžĐťĐžĐ˛.</p>
<p>Đ¤ŃĐ˝ĐşŃĐ¸Ń ŃĐ°ĐąĐťĐžĐ˝Đ¸ĐˇĐ°ŃĐ¸Đ¸ ĐźĐžĐśĐľŃ ĐşĐ°Đş-ŃĐž ĐżŃĐľĐžĐąŃĐ°ĐˇĐžĐ˛Đ°ŃŃ ŃŃŃĐžĐşŃ Đ¸ Đ˛ĐľŃĐ˝ŃŃŃ Đ˝ĐžĐ˛ŃĐš ŃĐľĐˇŃĐťŃŃĐ°Ń.</p>
<p>Đ ĐżŃĐžŃŃĐľĐšŃĐľĐź ŃĐťŃŃĐ°Đľ ĐźĐžĐśĐ˝Đž ĐżŃĐžŃŃĐž ÂŤŃĐşĐťĐľĐ¸ŃŃÂť ĐżĐžĐťŃŃĐľĐ˝Đ˝ŃĐľ ŃŃĐ°ĐłĐźĐľĐ˝ŃŃ Đ˛ ŃŃŃĐžĐşŃ:</p>
<div class="code-example" data-trusted="1">
<div class="codebox code-example__codebox">
<div class="toolbar codebox__toolbar">
<div class="toolbar__tool">
<a class="toolbar__button toolbar__button_run" data-action="run" href="#" title="Đ˛ŃĐżĐžĐťĐ˝Đ¸ŃŃ"></a>
</div>
<div class="toolbar__tool">
<a class="toolbar__button toolbar__button_edit" data-action="edit" href="#" target="_blank" title="ĐžŃĐşŃŃŃŃ Đ˛ ĐżĐľŃĐžŃĐ˝Đ¸ŃĐľ"></a>
</div>
</div>
<div class="codebox__code" data-code="1">
<pre class="line-numbers language-javascript"><code class="language-javascript">'use strict';

// str Đ˛ĐžŃŃŃĐ°Đ˝Đ°Đ˛ĐťĐ¸Đ˛Đ°ĐľŃ ŃŃŃĐžĐşŃ
function str(strings, ...values) {
  let str = "";
  for(let i=0; i&lt;values.length; i++) {
    str += strings[i];
    str += values[i];
  }

  // ĐżĐžŃĐťĐľĐ´Đ˝Đ¸Đš ĐşŃŃĐžĐş ŃŃŃĐžĐşĐ¸
  str += strings[strings.length-1];
  return str;
}

let apples = 3;
let oranges = 5;

// Sum of 3 + 5 = 8!
alert( str`Sum of ${apples} + ${oranges} = ${apples + oranges}!`);</code></pre>
</div>
</div>
</div><p>Đ¤ŃĐ˝ĐşŃĐ¸Ń <code>str</code> Đ˛ ĐżŃĐ¸ĐźĐľŃĐľ Đ˛ŃŃĐľ Đ´ĐľĐťĐ°ĐľŃ ŃĐž ĐśĐľ ŃĐ°ĐźĐžĐľ, ŃŃĐž ĐžĐąŃŃĐ˝ŃĐľ ĐžĐąŃĐ°ŃĐ˝ŃĐľ ĐşĐ°Đ˛ŃŃĐşĐ¸. ĐĐž, ĐşĐžĐ˝ĐľŃĐ˝Đž, ĐźĐžĐśĐ˝Đž ĐżĐžĐšŃĐ¸ Đ˝Đ°ĐźĐ˝ĐžĐłĐž Đ´Đ°ĐťŃŃĐľ. ĐĐ°ĐżŃĐ¸ĐźĐľŃ, ĐłĐľĐ˝ĐľŃĐ¸ŃĐžĐ˛Đ°ŃŃ Đ¸Đˇ HTML-ŃŃŃĐžĐşĐ¸ DOM-ŃĐˇĐťŃ (ŃŃĐ˝ĐşŃĐ¸Đ¸ ŃĐ°ĐąĐťĐžĐ˝Đ¸ĐˇĐ°ŃĐ¸Đ¸ Đ˝Đľ ĐžĐąŃĐˇĐ°ŃĐľĐťŃĐ˝Đž Đ˛ĐžĐˇĐ˛ŃĐ°ŃĐ°ŃŃ Đ¸ĐźĐľĐ˝Đ˝Đž ŃŃŃĐžĐşŃ).</p>
<p>ĐĐťĐ¸ ĐźĐžĐśĐ˝Đž ŃĐľĐ°ĐťĐ¸ĐˇĐžĐ˛Đ°ŃŃ Đ¸Đ˝ŃĐľŃĐ˝Đ°ŃĐ¸ĐžĐ˝Đ°ĐťĐ¸ĐˇĐ°ŃĐ¸Ń. Đ ĐżŃĐ¸ĐźĐľŃĐľ Đ˝Đ¸ĐśĐľ ŃŃĐ˝ĐşŃĐ¸Ń <code>i18n</code> ĐžŃŃŃĐľŃŃĐ˛ĐťŃĐľŃ ĐżĐľŃĐľĐ˛ĐžĐ´ ŃŃŃĐžĐşĐ¸.</p>
<p>ĐĐ˝Đ° ĐżĐžĐ´ĐąĐ¸ŃĐ°ĐľŃ ĐżĐž ŃŃŃĐžĐşĐľ Đ˛Đ¸Đ´Đ° <code>"Hello, ${name}!"</code> ŃĐ°ĐąĐťĐžĐ˝ ĐżĐľŃĐľĐ˛ĐžĐ´Đ° <code>"ĐŃĐ¸Đ˛ĐľŃ, {0}!"</code> (ĐłĐ´Đľ <code>{0}</code> â ĐźĐľŃŃĐž Đ´ĐťŃ Đ˛ŃŃĐ°Đ˛ĐşĐ¸ ĐżĐ°ŃĐ°ĐźĐľŃŃĐ°) Đ¸ Đ˛ĐžĐˇĐ˛ŃĐ°ŃĐ°ĐľŃ ĐżĐľŃĐľĐ˛ĐľĐ´ŃĐ˝Đ˝ŃĐš ŃĐľĐˇŃĐťŃŃĐ°Ń ŃĐž Đ˛ŃŃĐ°Đ˛ĐťĐľĐ˝Đ˝ŃĐź Đ¸ĐźĐľĐ˝ĐľĐź <code>name</code>:</p>
<div class="code-example" data-highlight-block="23-26" data-trusted="1">
<div class="codebox code-example__codebox">
<div class="toolbar codebox__toolbar">
<div class="toolbar__tool">
<a class="toolbar__button toolbar__button_run" data-action="run" href="#" title="Đ˛ŃĐżĐžĐťĐ˝Đ¸ŃŃ"></a>
</div>
<div class="toolbar__tool">
<a class="toolbar__button toolbar__button_edit" data-action="edit" href="#" target="_blank" title="ĐžŃĐşŃŃŃŃ Đ˛ ĐżĐľŃĐžŃĐ˝Đ¸ŃĐľ"></a>
</div>
</div>
<div class="codebox__code" data-code="1">
<pre class="line-numbers language-javascript"><code class="language-javascript">'use strict';

let messages = {
  "Hello, {0}!": "ĐŃĐ¸Đ˛ĐľŃ, {0}!"
};

function i18n(strings, ...values) {
  // ĐĐž ŃĐžŃĐźĐľ ŃŃŃĐžĐşĐ¸ ĐżĐžĐťŃŃĐ¸Đź ŃĐ°ĐąĐťĐžĐ˝ Đ´ĐťŃ ĐżĐžĐ¸ŃĐşĐ° Đ˛ messages
  // ĐĐ° ĐźĐľŃŃĐľ ĐşĐ°ĐśĐ´ĐžĐłĐž Đ¸Đˇ ĐˇĐ˝Đ°ŃĐľĐ˝Đ¸Đš ĐąŃĐ´ĐľŃ ĐľĐłĐž Đ˝ĐžĐźĐľŃ: {0}, {1}, âŚ
  let pattern = "";
  for(let i=0; i&lt;values.length; i++) {
    pattern += strings[i] + '{' + i + '}';
  }
  pattern += strings[strings.length-1];
  // Đ˘ĐľĐżĐľŃŃ pattern = "Hello, {0}!"

  let translated = messages[pattern]; // "ĐŃĐ¸Đ˛ĐľŃ, {0}!"

  // ĐĐ°ĐźĐľĐ˝Đ¸Ń Đ˛ "ĐŃĐ¸Đ˛ĐľŃ, {0}" ŃĐ¸ŃŃŃ Đ˛Đ¸Đ´Đ° {num} Đ˝Đ° values[num]
  return translated.replace(/\{(\d)\}/g, (s, num) =&gt; values[num]);
}

// ĐŃĐ¸ĐźĐľŃ Đ¸ŃĐżĐžĐťŃĐˇĐžĐ˛Đ°Đ˝Đ¸Ń
let name = "ĐĐ°ŃŃ";

// ĐĐľŃĐľĐ˛ĐľŃŃĐ¸ ŃŃŃĐžĐşŃ
alert( i18n`Hello, ${name}!` ); // ĐŃĐ¸Đ˛ĐľŃ, ĐĐ°ŃŃ!</code></pre>
</div>
</div>
</div><p>ĐŃĐžĐłĐžĐ˛ĐžĐľ Đ¸ŃĐżĐžĐťŃĐˇĐžĐ˛Đ°Đ˝Đ¸Đľ Đ˛ŃĐłĐťŃĐ´Đ¸Ń Đ´ĐžĐ˛ĐžĐťŃĐ˝Đž ĐşŃĐ°ŃĐ¸Đ˛Đž, Đ˝Đľ ĐżŃĐ°Đ˛Đ´Đ° ĐťĐ¸?</p>
<p>Đ Đ°ĐˇŃĐźĐľĐľŃŃŃ, ŃŃŃ ŃŃĐ˝ĐşŃĐ¸Ń ĐźĐžĐśĐ˝Đž ŃĐťŃŃŃĐ¸ŃŃ Đ¸ ŃĐ°ŃŃĐ¸ŃĐ¸ŃŃ. Đ¤ŃĐ˝ĐşŃĐ¸Ń ŃĐ°ĐąĐťĐžĐ˝Đ¸ĐˇĐ°ŃĐ¸Đ¸ â ŃŃĐž ŃĐ˛ĐžĐľĐłĐž ŃĐžĐ´Đ° ÂŤŃŃĐ°Đ˝Đ´Đ°ŃŃĐ˝ŃĐš ŃĐ¸Đ˝ŃĐ°ĐşŃĐ¸ŃĐľŃĐşĐ¸Đš ŃĐ°ŃĐ°ŃÂť Đ´ĐťŃ ŃĐżŃĐžŃĐľĐ˝Đ¸Ń ŃĐžŃĐźĐ°ŃĐ¸ŃĐžĐ˛Đ°Đ˝Đ¸Ń Đ¸ ĐżĐ°ŃŃĐ¸Đ˝ĐłĐ° ŃŃŃĐžĐş.</p>
<h2><a class="main__anchor" href="#ŃĐťŃŃŃĐľĐ˝Đ°-ĐżĐžĐ´Đ´ĐľŃĐśĐşĐ°-ŃĐ˝Đ¸ĐşĐžĐ´Đ°" name="ŃĐťŃŃŃĐľĐ˝Đ°-ĐżĐžĐ´Đ´ĐľŃĐśĐşĐ°-ŃĐ˝Đ¸ĐşĐžĐ´Đ°">ĐŁĐťŃŃŃĐľĐ˝Đ° ĐżĐžĐ´Đ´ĐľŃĐśĐşĐ° ŃĐ˝Đ¸ĐşĐžĐ´Đ°</a></h2><p>ĐĐ˝ŃŃŃĐľĐ˝Đ˝ŃŃ ĐşĐžĐ´Đ¸ŃĐžĐ˛ĐşĐ° ŃŃŃĐžĐş Đ˛ JavaScript â ŃŃĐž UTF-16, ŃĐž ĐľŃŃŃ ĐżĐžĐ´ ĐşĐ°ĐśĐ´ŃĐš ŃĐ¸ĐźĐ˛ĐžĐť ĐžŃĐ˛ĐžĐ´Đ¸ŃŃŃ ŃĐžĐ˛Đ˝Đž Đ´Đ˛Đ° ĐąĐ°ĐšŃĐ°.</p>
<p>ĐĐž ĐżĐžĐ´ Đ˛ŃĐľĐ˛ĐžĐˇĐźĐžĐśĐ˝ŃĐľ ŃĐ¸ĐźĐ˛ĐžĐťŃ Đ˛ŃĐľŃ ŃĐˇŃĐşĐžĐ˛ ĐźĐ¸ŃĐ° 2 ĐąĐ°ĐšŃ Đ˝Đľ ŃĐ˛Đ°ŃĐ°ĐľŃ. ĐĐžŃŃĐžĐźŃ ĐąŃĐ˛Đ°ĐľŃ ŃĐ°Đş, ŃŃĐž ĐžĐ´Đ˝ĐžĐźŃ ŃĐ¸ĐźĐ˛ĐžĐťŃ ŃĐˇŃĐşĐ° ŃĐžĐžŃĐ˛ĐľŃŃŃĐ˛ŃĐľŃ Đ´Đ˛Đ° ŃĐ˝Đ¸ĐşĐžĐ´Đ˝ŃŃ ŃĐ¸ĐźĐ˛ĐžĐťĐ° (Đ¸ŃĐžĐłĐž 4 ĐąĐ°ĐšŃĐ°). Đ˘Đ°ĐşĐžĐľ ŃĐžŃĐľŃĐ°Đ˝Đ¸Đľ Đ˝Đ°ĐˇŃĐ˛Đ°ŃŃ ÂŤŃŃŃŃĐžĐłĐ°ŃĐ˝ĐžĐš ĐżĐ°ŃĐžĐšÂť.</p>
<p>ĐĄĐ°ĐźŃĐš ŃĐ°ŃŃŃĐš ĐżŃĐ¸ĐźĐľŃ ŃŃŃŃĐžĐłĐ°ŃĐ˝ĐžĐš ĐżĐ°ŃŃ, ĐşĐžŃĐžŃŃĐš ĐźĐžĐśĐ˝Đž Đ˛ŃŃŃĐľŃĐ¸ŃŃ Đ˛ ĐťĐ¸ŃĐľŃĐ°ŃŃŃĐľ â ŃŃĐž ĐşĐ¸ŃĐ°ĐšŃĐşĐ¸Đľ Đ¸ĐľŃĐžĐłĐťĐ¸ŃŃ.</p>
<p>ĐĐ°ĐźĐľŃĐ¸Đź, ĐžĐ´Đ˝Đ°ĐşĐž, ŃŃĐž Đ˝Đľ Đ˛ŃŃĐşĐ¸Đš ĐşĐ¸ŃĐ°ĐšŃĐşĐ¸Đš Đ¸ĐľŃĐžĐłĐťĐ¸Ń â ŃŃŃŃĐžĐłĐ°ŃĐ˝Đ°Ń ĐżĐ°ŃĐ°. ĐĄŃŃĐľŃŃĐ˛ĐľĐ˝Đ˝Đ°Ń ŃĐ°ŃŃŃ ÂŤĐžŃĐ˝ĐžĐ˛Đ˝ĐžĐłĐžÂť ŃĐ˝Đ¸ĐşĐžĐ´-Đ´Đ¸Đ°ĐżĐ°ĐˇĐžĐ˝Đ° ĐşĐ°Đş ŃĐ°Đˇ ĐžŃĐ´Đ°Đ˝Đ° ĐżĐžĐ´ ĐşĐ¸ŃĐ°ĐšŃĐşĐ¸Đš ŃĐˇŃĐş, ĐżĐžŃŃĐžĐźŃ Đ˝ĐľĐşĐžŃĐžŃŃĐľ Đ¸ĐľŃĐžĐłĐťĐ¸ŃŃ â ĐşĐžŃĐžŃŃĐľ Đ˛ Đ˝ĐľŃ ÂŤĐ˛ĐťĐľĐˇĐťĐ¸Âť â ĐżŃĐľĐ´ŃŃĐ°Đ˛ĐťŃŃŃŃŃ ĐžĐ´Đ˝Đ¸Đź ŃĐ˝Đ¸ĐşĐžĐ´-ŃĐ¸ĐźĐ˛ĐžĐťĐžĐź, Đ° ŃĐľ, ĐşĐžŃĐžŃŃĐľ Đ˝Đľ ĐżĐžĐźĐľŃŃĐ¸ĐťĐ¸ŃŃ (ŃĐľĐśĐľ Đ¸ŃĐżĐžĐťŃĐˇŃĐľĐźŃĐľ) â Đ´Đ˛ŃĐźŃ.</p>
<p>ĐĐ°ĐżŃĐ¸ĐźĐľŃ:</p>
<div class="code-example" data-trusted="1">
<div class="codebox code-example__codebox">
<div class="toolbar codebox__toolbar">
<div class="toolbar__tool">
<a class="toolbar__button toolbar__button_run" data-action="run" href="#" title="Đ˛ŃĐżĐžĐťĐ˝Đ¸ŃŃ"></a>
</div>
<div class="toolbar__tool">
<a class="toolbar__button toolbar__button_edit" data-action="edit" href="#" target="_blank" title="ĐžŃĐşŃŃŃŃ Đ˛ ĐżĐľŃĐžŃĐ˝Đ¸ŃĐľ"></a>
</div>
</div>
<div class="codebox__code" data-code="1">
<pre class="line-numbers language-javascript"><code class="language-javascript">alert( 'ć'.length ); // 1
alert( 'đŠˇś'.length ); // 2</code></pre>
</div>
</div>
</div><p>Đ ŃĐľĐşŃŃĐľ Đ˛ŃŃĐľ Đ´ĐťŃ ĐżĐľŃĐ˛ĐžĐłĐž Đ¸ĐľŃĐžĐłĐťĐ¸ŃĐ° ĐľŃŃŃ ĐžŃĐ´ĐľĐťŃĐ˝ŃĐš ŃĐ˝Đ¸ĐşĐžĐ´-ŃĐ¸ĐźĐ˛ĐžĐť, Đ¸ ĐżĐžŃŃĐžĐźŃ Đ´ĐťĐ¸Đ˝Đ° ŃŃŃĐžĐşĐ¸ <code>1</code>, Đ° Đ´ĐťŃ Đ˛ŃĐžŃĐžĐłĐž Đ¸ŃĐżĐžĐťŃĐˇŃĐľŃŃŃ ŃŃŃŃĐžĐłĐ°ŃĐ˝Đ°Ń ĐżĐ°ŃĐ°. ĐĄĐžĐžŃĐ˛ĐľŃŃŃĐ˛ĐľĐ˝Đ˝Đž, Đ´ĐťĐ¸Đ˝Đ° â <code>2</code>.</p>
<p>ĐĐ¸ŃĐ°ĐšŃĐşĐ¸ĐźĐ¸ Đ¸ĐľŃĐžĐłĐťĐ¸ŃĐ°ĐźĐ¸ ŃŃŃŃĐžĐłĐ°ŃĐ˝ŃĐľ ĐżĐ°ŃŃ, ĐľŃŃĐľŃŃĐ˛ĐľĐ˝Đ˝Đž, Đ˝Đľ ĐžĐłŃĐ°Đ˝Đ¸ŃĐ¸Đ˛Đ°ŃŃŃŃ.</p>
<p>ĐĐźĐ¸ ĐżŃĐľĐ´ŃŃĐ°Đ˛ĐťĐľĐ˝Ń ŃĐľĐ´ĐşĐ¸Đľ ĐźĐ°ŃĐľĐźĐ°ŃĐ¸ŃĐľŃĐşĐ¸Đľ ŃĐ¸ĐźĐ˛ĐžĐťŃ, Đ° ŃĐ°ĐşĐśĐľ Đ˝ĐľĐşĐžŃĐžŃŃĐľ ŃĐ¸ĐźĐ˛ĐžĐťŃ Đ´ĐťŃ ŃĐźĐžŃĐ¸Đš, Đş ĐżŃĐ¸ĐźĐľŃŃ:</p>
<div class="code-example" data-trusted="1">
<div class="codebox code-example__codebox">
<div class="toolbar codebox__toolbar">
<div class="toolbar__tool">
<a class="toolbar__button toolbar__button_run" data-action="run" href="#" title="Đ˛ŃĐżĐžĐťĐ˝Đ¸ŃŃ"></a>
</div>
<div class="toolbar__tool">
<a class="toolbar__button toolbar__button_edit" data-action="edit" href="#" target="_blank" title="ĐžŃĐşŃŃŃŃ Đ˛ ĐżĐľŃĐžŃĐ˝Đ¸ŃĐľ"></a>
</div>
</div>
<div class="codebox__code" data-code="1">
<pre class="line-numbers language-javascript"><code class="language-javascript">alert( 'đł'.length ); // 2, MATHEMATICAL SCRIPT CAPITAL X
alert( 'đ'.length ); // 2, FACE WITH TEARS OF JOY</code></pre>
</div>
</div>
</div><p>Đ ŃĐžĐ˛ŃĐľĐźĐľĐ˝Đ˝ŃĐš JavaScript Đ´ĐžĐąĐ°Đ˛ĐťĐľĐ˝Ń ĐźĐľŃĐžĐ´Ń <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String/fromCodePoint">String.fromCodePoint</a> Đ¸ <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String/codePointAt">str.codePointAt</a> â Đ°Đ˝Đ°ĐťĐžĐłĐ¸ <code>String.fromCharCode</code> Đ¸ <code>str.charCodeAt</code>, ĐşĐžŃŃĐľĐşŃĐ˝Đž ŃĐ°ĐąĐžŃĐ°ŃŃĐ¸Đľ Ń ŃŃŃŃĐžĐłĐ°ŃĐ˝ŃĐźĐ¸ ĐżĐ°ŃĐ°ĐźĐ¸.</p>
<p>ĐĐ°ĐżŃĐ¸ĐźĐľŃ, <code>charCodeAt</code> ŃŃĐ¸ŃĐ°ĐľŃ ŃŃŃŃĐžĐłĐ°ŃĐ˝ŃŃ ĐżĐ°ŃŃ Đ´Đ˛ŃĐźŃ ŃĐ°ĐˇĐ˝ŃĐźĐ¸ ŃĐ¸ĐźĐ˛ĐžĐťĐ°ĐźĐ¸ Đ¸ Đ˛ĐžĐˇĐ˛ŃĐ°ŃĐ°ĐľŃ ĐşĐžĐ´ ĐşĐ°ĐśĐ´ĐžĐš:</p>
<div class="code-example" data-trusted="1">
<div class="codebox code-example__codebox">
<div class="toolbar codebox__toolbar">
<div class="toolbar__tool">
<a class="toolbar__button toolbar__button_run" data-action="run" href="#" title="Đ˛ŃĐżĐžĐťĐ˝Đ¸ŃŃ"></a>
</div>
<div class="toolbar__tool">
<a class="toolbar__button toolbar__button_edit" data-action="edit" href="#" target="_blank" title="ĐžŃĐşŃŃŃŃ Đ˛ ĐżĐľŃĐžŃĐ˝Đ¸ŃĐľ"></a>
</div>
</div>
<div class="codebox__code" data-code="1">
<pre class="line-numbers language-javascript"><code class="language-javascript">// ĐşĐ°Đş ĐąŃĐ´ŃĐž Đ˛ ŃŃŃĐžĐşĐľ Đ´Đ˛Đ° ŃĐ°ĐˇĐ˝ŃŃ ŃĐ¸ĐźĐ˛ĐžĐťĐ° (Đ˝Đ° ŃĐ°ĐźĐžĐź Đ´ĐľĐťĐľ ĐžĐ´Đ¸Đ˝)
alert( 'đł'.charCodeAt(0) + ' ' + 'đł'.charCodeAt(1) ); // 55349 56499</code></pre>
</div>
</div>
</div><p>âŚĐ ŃĐž Đ˛ŃĐľĐźŃ ĐşĐ°Đş <code>codePointAt</code> Đ˛ĐžĐˇĐ˛ŃĐ°ŃĐ°ĐľŃ ĐľĐłĐž Unicode-ĐşĐžĐ´ ŃŃŃŃĐžĐłĐ°ŃĐ˝ĐžĐš ĐżĐ°ŃŃ ĐżŃĐ°Đ˛Đ¸ĐťŃĐ˝Đž:</p>
<div class="code-example" data-trusted="1">
<div class="codebox code-example__codebox">
<div class="toolbar codebox__toolbar">
<div class="toolbar__tool">
<a class="toolbar__button toolbar__button_run" data-action="run" href="#" title="Đ˛ŃĐżĐžĐťĐ˝Đ¸ŃŃ"></a>
</div>
<div class="toolbar__tool">
<a class="toolbar__button toolbar__button_edit" data-action="edit" href="#" target="_blank" title="ĐžŃĐşŃŃŃŃ Đ˛ ĐżĐľŃĐžŃĐ˝Đ¸ŃĐľ"></a>
</div>
</div>
<div class="codebox__code" data-code="1">
<pre class="line-numbers language-javascript"><code class="language-javascript">// ĐžĐ´Đ¸Đ˝ ŃĐ¸ĐźĐ˛ĐžĐť Ń "Đ´ĐťĐ¸Đ˝Đ˝ŃĐź" (ĐąĐžĐťĐľĐľ 2 ĐąĐ°ĐšŃ) unicode-ĐşĐžĐ´ĐžĐź
alert( 'đł'.codePointAt(0) ); // 119987</code></pre>
</div>
</div>
</div><p>ĐĐľŃĐžĐ´ <code>String.fromCodePoint(code)</code> ĐşĐžŃŃĐľĐşŃĐ˝Đž ŃĐžĐˇĐ´Đ°ŃŃ ŃŃŃĐžĐşŃ Đ¸Đˇ ÂŤĐ´ĐťĐ¸Đ˝Đ˝ĐžĐłĐž ĐşĐžĐ´Đ°Âť, Đ˛ ĐžŃĐťĐ¸ŃĐ¸Đľ ĐžŃ ŃŃĐ°ŃĐžĐłĐž <code>String.fromCharCode(code)</code>.</p>
<p>ĐĐ°ĐżŃĐ¸ĐźĐľŃ:</p>
<div class="code-example" data-trusted="1">
<div class="codebox code-example__codebox">
<div class="toolbar codebox__toolbar">
<div class="toolbar__tool">
<a class="toolbar__button toolbar__button_run" data-action="run" href="#" title="Đ˛ŃĐżĐžĐťĐ˝Đ¸ŃŃ"></a>
</div>
<div class="toolbar__tool">
<a class="toolbar__button toolbar__button_edit" data-action="edit" href="#" target="_blank" title="ĐžŃĐşŃŃŃŃ Đ˛ ĐżĐľŃĐžŃĐ˝Đ¸ŃĐľ"></a>
</div>
</div>
<div class="codebox__code" data-code="1">
<pre class="line-numbers language-javascript"><code class="language-javascript">// ĐŃĐ°Đ˛Đ¸ĐťŃĐ˝Đž
alert( String.fromCodePoint(119987) ); // đł
// ĐĐľĐ˛ĐľŃĐ˝Đž!
alert( String.fromCharCode(119987) ); // íł</code></pre>
</div>
</div>
</div><p>ĐĐžĐťĐľĐľ ŃŃĐ°ŃŃĐš ĐźĐľŃĐžĐ´ <code>fromCharCode</code> Đ˛ ĐżĐžŃĐťĐľĐ´Đ˝ĐľĐš ŃŃŃĐžĐşĐľ Đ´Đ°Đť Đ˝ĐľĐ˛ĐľŃĐ˝ŃĐš ŃĐľĐˇŃĐťŃŃĐ°Ń, ŃĐ°Đş ĐşĐ°Đş ĐžĐ˝ ĐąĐľŃŃŃ ŃĐžĐťŃĐşĐž ĐżĐľŃĐ˛ŃĐľ Đ´Đ˛Đ° ĐąĐ°ĐšŃĐ° ĐžŃ ŃĐ¸ŃĐťĐ° <code>119987</code> Đ¸ ŃĐžĐˇĐ´Đ°ŃŃ ŃĐ¸ĐźĐ˛ĐžĐť Đ¸Đˇ Đ˝Đ¸Ń, Đ° ĐžŃŃĐ°ĐťŃĐ˝ŃĐľ ĐžŃĐąŃĐ°ŃŃĐ˛Đ°ĐľŃ.</p>
<h3><a class="main__anchor" href="#u-Đ´ĐťĐ¸Đ˝Đ˝ŃĐš-ĐşĐžĐ´" name="u-Đ´ĐťĐ¸Đ˝Đ˝ŃĐš-ĐşĐžĐ´">\u{Đ´ĐťĐ¸Đ˝Đ˝ŃĐš ĐşĐžĐ´}</a></h3><p>ĐŃŃŃ Đ¸ ĐľŃŃ ŃĐ¸Đ˝ŃĐ°ĐşŃĐ¸ŃĐľŃĐşĐžĐľ ŃĐťŃŃŃĐľĐ˝Đ¸Đľ Đ´ĐťŃ ĐąĐžĐťŃŃĐ¸Ń Unicode-ĐşĐžĐ´ĐžĐ˛.</p>
<p>Đ JavaScript-ŃŃŃĐžĐşĐ°Ń Đ´Đ°Đ˛Đ˝Đž ĐźĐžĐśĐ˝Đž Đ˛ŃŃĐ°Đ˛ĐťŃŃŃ ŃĐ¸ĐźĐ˛ĐžĐťŃ ĐżĐž Unicode-ĐşĐžĐ´Ń, Đ˛ĐžŃ ŃĐ°Đş:</p>
<div class="code-example" data-trusted="1">
<div class="codebox code-example__codebox">
<div class="toolbar codebox__toolbar">
<div class="toolbar__tool">
<a class="toolbar__button toolbar__button_run" data-action="run" href="#" title="Đ˛ŃĐżĐžĐťĐ˝Đ¸ŃŃ"></a>
</div>
<div class="toolbar__tool">
<a class="toolbar__button toolbar__button_edit" data-action="edit" href="#" target="_blank" title="ĐžŃĐşŃŃŃŃ Đ˛ ĐżĐľŃĐžŃĐ˝Đ¸ŃĐľ"></a>
</div>
</div>
<div class="codebox__code" data-code="1">
<pre class="line-numbers language-javascript"><code class="language-javascript">alert( "\u2033" ); // âł, ŃĐ¸ĐźĐ˛ĐžĐť Đ´Đ˛ĐžĐšĐ˝ĐžĐłĐž ŃŃŃĐ¸ŃĐ°</code></pre>
</div>
</div>
</div><p>ĐĄĐ¸Đ˝ŃĐ°ĐşŃĐ¸Ń: <code>\uNNNN</code>, ĐłĐ´Đľ <code>NNNN</code> â ŃĐľŃŃŃŃŃĐˇĐ˝Đ°ŃĐ˝ŃĐš ŃĐľŃŃĐ˝Đ°Đ´ŃĐ°ŃĐ¸ŃĐ¸ŃĐ˝ŃĐš ĐşĐžĐ´, ĐżŃĐ¸ŃŃĐź ĐžĐ˝ Đ´ĐžĐťĐśĐľĐ˝ ĐąŃŃŃ ŃĐžĐ˛Đ˝Đž ŃĐľŃŃŃŃŃĐˇĐ˝Đ°ŃĐ˝ŃĐź.</p>
<p>ÂŤĐĐ¸ŃĐ˝Đ¸ĐľÂť ŃĐ¸ŃŃŃ ŃĐśĐľ Đ˝Đľ Đ˛ĐžĐšĐ´ŃŃ Đ˛ ĐşĐžĐ´, Đ˝Đ°ĐżŃĐ¸ĐźĐľŃ:</p>
<div class="code-example" data-trusted="1">
<div class="codebox code-example__codebox">
<div class="toolbar codebox__toolbar">
<div class="toolbar__tool">
<a class="toolbar__button toolbar__button_run" data-action="run" href="#" title="Đ˛ŃĐżĐžĐťĐ˝Đ¸ŃŃ"></a>
</div>
<div class="toolbar__tool">
<a class="toolbar__button toolbar__button_edit" data-action="edit" href="#" target="_blank" title="ĐžŃĐşŃŃŃŃ Đ˛ ĐżĐľŃĐžŃĐ˝Đ¸ŃĐľ"></a>
</div>
</div>
<div class="codebox__code" data-code="1">
<pre class="line-numbers language-javascript"><code class="language-javascript">alert( "\u20331" ); // ĐĐ˛Đ° ŃĐ¸ĐźĐ˛ĐžĐťĐ°: ŃĐ¸ĐźĐ˛ĐžĐť Đ´Đ˛ĐžĐšĐ˝ĐžĐłĐž ŃŃŃĐ¸ŃĐ° âł, Đ° ĐˇĐ°ŃĐľĐź 1</code></pre>
</div>
</div>
</div><p>Đ§ŃĐžĐąŃ Đ˛Đ˛ĐžĐ´Đ¸ŃŃ ĐąĐžĐťĐľĐľ Đ´ĐťĐ¸Đ˝Đ˝ŃĐľ ĐşĐžĐ´Ń ŃĐ¸ĐźĐ˛ĐžĐťĐžĐ˛, Đ´ĐžĐąĐ°Đ˛Đ¸ĐťĐ¸ ĐˇĐ°ĐżĐ¸ŃŃ <code>\u{NNNNNNNN}</code>, ĐłĐ´Đľ <code>NNNNNNNN</code> â ĐźĐ°ĐşŃĐ¸ĐźĐ°ĐťŃĐ˝Đž Đ˛ĐžŃŃĐźĐ¸ĐˇĐ˝Đ°ŃĐ˝ŃĐš (Đ˝Đž ĐźĐžĐśĐ˝Đž Đ¸ ĐźĐľĐ˝ŃŃĐľ ŃĐ¸ŃŃ) ĐşĐžĐ´.</p>
<p>ĐĐ°ĐżŃĐ¸ĐźĐľŃ:</p>
<div class="code-example" data-trusted="1">
<div class="codebox code-example__codebox">
<div class="toolbar codebox__toolbar">
<div class="toolbar__tool">
<a class="toolbar__button toolbar__button_run" data-action="run" href="#" title="Đ˛ŃĐżĐžĐťĐ˝Đ¸ŃŃ"></a>
</div>
<div class="toolbar__tool">
<a class="toolbar__button toolbar__button_edit" data-action="edit" href="#" target="_blank" title="ĐžŃĐşŃŃŃŃ Đ˛ ĐżĐľŃĐžŃĐ˝Đ¸ŃĐľ"></a>
</div>
</div>
<div class="codebox__code" data-code="1">
<pre class="line-numbers language-javascript"><code class="language-javascript">alert( "\u{20331}" ); // đ ą, ĐşĐ¸ŃĐ°ĐšŃĐşĐ¸Đš Đ¸ĐľŃĐžĐłĐťĐ¸Ń Ń ŃŃĐ¸Đź ĐşĐžĐ´ĐžĐź</code></pre>
</div>
</div>
</div><h3><a class="main__anchor" href="#unicode-Đ˝ĐžŃĐźĐ°ĐťĐ¸ĐˇĐ°ŃĐ¸Ń" name="unicode-Đ˝ĐžŃĐźĐ°ĐťĐ¸ĐˇĐ°ŃĐ¸Ń">Unicode-Đ˝ĐžŃĐźĐ°ĐťĐ¸ĐˇĐ°ŃĐ¸Ń</a></h3><p>ĐĐž ĐźĐ˝ĐžĐłĐ¸Ń ŃĐˇŃĐşĐ°Ń ĐľŃŃŃ ŃĐ¸ĐźĐ˛ĐžĐťŃ, ĐşĐžŃĐžŃŃĐľ ĐżĐžĐťŃŃĐ°ŃŃŃŃ ĐşĐ°Đş ŃĐžŃĐľŃĐ°Đ˝Đ¸Đľ ĐžŃĐ˝ĐžĐ˛Đ˝ĐžĐłĐž ŃĐ¸ĐźĐ˛ĐžĐťĐ° Đ¸ ĐşĐ°ĐşĐžĐłĐž-ŃĐž ĐˇĐ˝Đ°ŃĐşĐ° Đ˝Đ°Đ´ Đ˝Đ¸Đź Đ¸ĐťĐ¸ ĐżĐžĐ´ Đ˝Đ¸Đź.</p>
<p>ĐĐ°ĐżŃĐ¸ĐźĐľŃ, Đ˝Đ° ĐžŃĐ˝ĐžĐ˛Đľ ĐžĐąŃŃĐ˝ĐžĐłĐž ŃĐ¸ĐźĐ˛ĐžĐťĐ° <code>a</code> ŃŃŃĐľŃŃĐ˛ŃŃŃ ŃĐ¸ĐźĐ˛ĐžĐťŃ: <code>Ă ĂĄĂ˘Ă¤ĂŁĂĽÄ</code>. ĐĄĐ°ĐźŃĐľ ŃĐ°ŃŃĐž Đ˛ŃŃŃĐľŃĐ°ŃŃĐ¸ĐľŃŃ ĐżĐžĐ´ĐžĐąĐ˝ŃĐľ ŃĐžŃĐľŃĐ°Đ˝Đ¸Ń Đ¸ĐźĐľŃŃ ĐžŃĐ´ĐľĐťŃĐ˝ŃĐš ŃĐ˝Đ¸ĐşĐžĐ´Đ˝ŃĐš ĐşĐžĐ´. ĐĐž ĐžŃĐ˝ŃĐ´Ń Đ˝Đľ Đ˛ŃĐľ.</p>
<p>ĐĐťŃ ĐłĐľĐ˝ĐľŃĐ°ŃĐ¸Đ¸ ĐżŃĐžĐ¸ĐˇĐ˛ĐžĐťŃĐ˝ŃŃ ŃĐžŃĐľŃĐ°Đ˝Đ¸Đš Đ¸ŃĐżĐžĐťŃĐˇŃŃŃŃŃ Đ˝ĐľŃĐşĐžĐťŃĐşĐž ŃĐ˝Đ¸ĐşĐžĐ´Đ˝ŃŃ ŃĐ¸ĐźĐ˛ĐžĐťĐžĐ˛: ĐžŃĐ˝ĐžĐ˛Đ° Đ¸ ĐžĐ´Đ¸Đ˝ Đ¸ĐťĐ¸ Đ˝ĐľŃĐşĐžĐťŃĐşĐž ĐˇĐ˝Đ°ŃĐşĐžĐ˛.</p>
<p>ĐĐ°ĐżŃĐ¸ĐźĐľŃ, ĐľŃĐťĐ¸ ĐżĐžŃĐťĐľ ŃĐ¸ĐźĐ˛ĐžĐťĐ° <code>S</code> Đ¸Đ´ŃŃ ŃĐ¸ĐźĐ˛ĐžĐť ÂŤŃĐžŃĐşĐ° ŃĐ˛ĐľŃŃŃÂť (ĐşĐžĐ´ <code>\u0307</code>), ŃĐž ĐżĐžĐşĐ°ĐˇĐ°Đ˝Đž ŃŃĐž ĐąŃĐ´ĐľŃ ĐşĐ°Đş ÂŤS Ń ŃĐžŃĐşĐžĐš ŃĐ˛ĐľŃŃŃÂť <code>SĚ</code>.</p>
<p>ĐŃĐťĐ¸ Đ˝ŃĐśĐľĐ˝ ĐľŃŃ ĐˇĐ˝Đ°ŃĐžĐş Đ˝Đ°Đ´ ŃĐžĐš ĐśĐľ ĐąŃĐşĐ˛ĐžĐš (Đ¸ĐťĐ¸ ĐżĐžĐ´ Đ˝ĐľĐš) â ĐąĐľĐˇ ĐżŃĐžĐąĐťĐľĐź. ĐŃĐžŃŃĐž Đ´ĐžĐąĐ°Đ˛ĐťŃĐľĐź ŃĐžĐžŃĐ˛ĐľŃŃŃĐ˛ŃŃŃĐ¸Đš ŃĐ¸ĐźĐ˛ĐžĐť.</p>
<p>Đ ĐżŃĐ¸ĐźĐľŃŃ, ĐľŃĐťĐ¸ Đ´ĐžĐąĐ°Đ˛Đ¸ŃŃ ŃĐ¸ĐźĐ˛ĐžĐť ÂŤŃĐžŃĐşĐ° ŃĐ˝Đ¸ĐˇŃÂť (ĐşĐžĐ´ <code>\u0323</code>), ŃĐž ĐąŃĐ´ĐľŃ ÂŤS Ń Đ´Đ˛ŃĐźŃ ŃĐžŃĐşĐ°ĐźĐ¸ ŃĐ˛ĐľŃŃŃ Đ¸ ŃĐ˝Đ¸ĐˇŃÂť <code>SĚĚŁ</code> .</p>
<p>ĐŃĐ¸ĐźĐľŃ ŃŃĐžĐłĐž ŃĐ¸ĐźĐ˛ĐžĐťĐ° Đ˛ JavaScript-ŃŃŃĐžĐşĐľ:</p>
<div class="code-example" data-trusted="1">
<div class="codebox code-example__codebox">
<div class="toolbar codebox__toolbar">
<div class="toolbar__tool">
<a class="toolbar__button toolbar__button_run" data-action="run" href="#" title="Đ˛ŃĐżĐžĐťĐ˝Đ¸ŃŃ"></a>
</div>
<div class="toolbar__tool">
<a class="toolbar__button toolbar__button_edit" data-action="edit" href="#" target="_blank" title="ĐžŃĐşŃŃŃŃ Đ˛ ĐżĐľŃĐžŃĐ˝Đ¸ŃĐľ"></a>
</div>
</div>
<div class="codebox__code" data-code="1">
<pre class="line-numbers language-javascript"><code class="language-javascript">alert("S\u0307\u0323"); // SĚĚŁ</code></pre>
</div>
</div>
</div><p>Đ˘Đ°ĐşĐ°Ń Đ˛ĐžĐˇĐźĐžĐśĐ˝ĐžŃŃŃ Đ´ĐžĐąĐ°Đ˛Đ¸ŃŃ ĐżŃĐžĐ¸ĐˇĐ˛ĐžĐťŃĐ˝ĐžĐš ĐąŃĐşĐ˛Đľ Đ˝ŃĐśĐ˝ŃĐľ ĐˇĐ˝Đ°ŃĐşĐ¸, Ń ĐžĐ´Đ˝ĐžĐš ŃŃĐžŃĐžĐ˝Ń, Đ˝ĐľĐžĐąŃĐžĐ´Đ¸ĐźĐ°, Đ° Ń Đ´ŃŃĐłĐžĐš ŃŃĐžŃĐžĐ˝Ń â Đ˛ĐžĐˇĐ˝Đ¸ĐşĐ°ĐľŃ ĐżŃĐžĐąĐťĐľĐźĐşĐ°: ĐźĐžĐśĐ˝Đž ĐżŃĐľĐ´ŃŃĐ°Đ˛Đ¸ŃŃ ĐžĐ´Đ¸Đ˝Đ°ĐşĐžĐ˛ŃĐš Ń ŃĐžŃĐşĐ¸ ĐˇŃĐľĐ˝Đ¸Ń Đ˛Đ¸ĐˇŃĐ°ĐťŃĐ˝ĐžĐłĐž ĐžŃĐžĐąŃĐ°ĐśĐľĐ˝Đ¸Ń Đ¸ Đ¸Đ˝ŃĐľŃĐżŃĐľŃĐ°ŃĐ¸Đ¸ ŃĐ¸ĐźĐ˛ĐžĐť â ŃĐ°ĐˇĐ˝ŃĐźĐ¸ ŃĐžŃĐľŃĐ°Đ˝Đ¸ŃĐźĐ¸ Unicode-ĐşĐžĐ´ĐžĐ˛.</p>
<p>ĐĐžŃ ĐżŃĐ¸ĐźĐľŃ:</p>
<div class="code-example" data-trusted="1">
<div class="codebox code-example__codebox">
<div class="toolbar codebox__toolbar">
<div class="toolbar__tool">
<a class="toolbar__button toolbar__button_run" data-action="run" href="#" title="Đ˛ŃĐżĐžĐťĐ˝Đ¸ŃŃ"></a>
</div>
<div class="toolbar__tool">
<a class="toolbar__button toolbar__button_edit" data-action="edit" href="#" target="_blank" title="ĐžŃĐşŃŃŃŃ Đ˛ ĐżĐľŃĐžŃĐ˝Đ¸ŃĐľ"></a>
</div>
</div>
<div class="codebox__code" data-code="1">
<pre class="line-numbers language-javascript"><code class="language-javascript">alert("S\u0307\u0323"); // SĚĚŁ
alert("S\u0323\u0307"); // SĚĚŁ

alert( "S\u0307\u0323" == "S\u0323\u0307" ); // false</code></pre>
</div>
</div>
</div><p>Đ ĐżĐľŃĐ˛ĐžĐš ŃŃŃĐžĐşĐľ ĐżĐžŃĐťĐľ ĐžŃĐ˝ĐžĐ˛Ń <code>S</code> Đ¸Đ´ŃŃ ŃĐ˝Đ°ŃĐ°ĐťĐ° ĐˇĐ˝Đ°ŃĐžĐş ÂŤĐ˛ĐľŃŃĐ˝ŃŃ ŃĐžŃĐşĐ°Âť, Đ° ĐżĐžŃĐžĐź â Đ˝Đ¸ĐśĐ˝ŃŃ, Đ˛Đž Đ˛ŃĐžŃĐžĐš â Đ˝Đ°ĐžĐąĐžŃĐžŃ. ĐĐž ĐşĐžĐ´Đ°Đź ŃŃŃĐžĐşĐ¸ Đ˝Đľ ŃĐ°Đ˛Đ˝Ń Đ´ŃŃĐł Đ´ŃŃĐłŃ. ĐĐž ŃĐ¸ĐźĐ˛ĐžĐť ĐˇĐ°Đ´Đ°ŃŃ ĐžĐ´Đ¸Đ˝ Đ¸ ŃĐžŃ ĐśĐľ.</p>
<p>ĐĄ ŃĐľĐťŃŃ ŃĐ°ĐˇŃĐľŃĐ¸ŃŃ ŃŃŃ ŃĐ¸ŃŃĐ°ŃĐ¸Ń, ŃŃŃĐľŃŃĐ˛ŃĐľŃ <em>ŃĐ˝Đ¸ĐşĐžĐ´Đ˝Đ°Ń Đ˝ĐžŃĐźĐ°ĐťĐ¸ĐˇĐ°ŃĐ¸Ń</em>, ĐżŃĐ¸ ĐşĐžŃĐžŃĐžĐš ŃŃŃĐžĐşĐ¸ ĐżŃĐ¸Đ˛ĐžĐ´ŃŃŃŃ Đş ĐľĐ´Đ¸Đ˝ĐžĐźŃ, ÂŤĐ˝ĐžŃĐźĐ°ĐťŃĐ˝ĐžĐźŃÂť, Đ˛Đ¸Đ´Ń.</p>
<p>Đ ŃĐžĐ˛ŃĐľĐźĐľĐ˝Đ˝ĐžĐź JavaScript ŃŃĐž Đ´ĐľĐťĐ°ĐľŃ ĐźĐľŃĐžĐ´ <a href="https://developer.mozilla.org/ru/docs/Web/JavaScript/Reference/Global_Objects/String/normalize">str.normalize()</a>.</p>
<div class="code-example" data-trusted="1">
<div class="codebox code-example__codebox">
<div class="toolbar codebox__toolbar">
<div class="toolbar__tool">
<a class="toolbar__button toolbar__button_run" data-action="run" href="#" title="Đ˛ŃĐżĐžĐťĐ˝Đ¸ŃŃ"></a>
</div>
<div class="toolbar__tool">
<a class="toolbar__button toolbar__button_edit" data-action="edit" href="#" target="_blank" title="ĐžŃĐşŃŃŃŃ Đ˛ ĐżĐľŃĐžŃĐ˝Đ¸ŃĐľ"></a>
</div>
</div>
<div class="codebox__code" data-code="1">
<pre class="line-numbers language-javascript"><code class="language-javascript">alert( "S\u0307\u0323".normalize() == "S\u0323\u0307".normalize() ); // true</code></pre>
</div>
</div>
</div><p>ĐĐ°ĐąĐ°Đ˛Đ˝Đž, ŃŃĐž Đ˛ Đ´Đ°Đ˝Đ˝ĐžĐš ĐşĐžĐ˝ĐşŃĐľŃĐ˝ĐžĐš ŃĐ¸ŃŃĐ°ŃĐ¸Đ¸ <code>normalize()</code> ĐżŃĐ¸Đ˛ĐľĐ´ŃŃ ĐżĐžŃĐťĐľĐ´ĐžĐ˛Đ°ŃĐľĐťŃĐ˝ĐžŃŃŃ Đ¸Đˇ ŃŃŃŃ ŃĐ¸ĐźĐ˛ĐžĐťĐžĐ˛ Đş ĐžĐ´Đ˝ĐžĐźŃ: <a href="http://www.fileformat.info/info/unicode/char/1e68/index.htm">\u1e68 (S Ń Đ´Đ˛ŃĐźŃ ŃĐžŃĐşĐ°ĐźĐ¸)</a>.</p>
<div class="code-example" data-trusted="1">
<div class="codebox code-example__codebox">
<div class="toolbar codebox__toolbar">
<div class="toolbar__tool">
<a class="toolbar__button toolbar__button_run" data-action="run" href="#" title="Đ˛ŃĐżĐžĐťĐ˝Đ¸ŃŃ"></a>
</div>
<div class="toolbar__tool">
<a class="toolbar__button toolbar__button_edit" data-action="edit" href="#" target="_blank" title="ĐžŃĐşŃŃŃŃ Đ˛ ĐżĐľŃĐžŃĐ˝Đ¸ŃĐľ"></a>
</div>
</div>
<div class="codebox__code" data-code="1">
<pre class="line-numbers language-javascript"><code class="language-javascript">alert( "S\u0307\u0323".normalize().length ); // 1, Đ˝ĐžŃĐźĐ°ĐťĐ¸ĐˇĐžĐ˛Đ°ĐťĐž Đ˛ ĐžĐ´Đ¸Đ˝ ŃĐ¸ĐźĐ˛ĐžĐť
alert( "S\u0307\u0323".normalize() == "\u1e68" ); // true</code></pre>
</div>
</div>
</div><p>Đ­ŃĐž, ĐşĐžĐ˝ĐľŃĐ˝Đž, Đ˝Đľ Đ˛ŃĐľĐłĐ´Đ° ŃĐ°Đş, ĐżŃĐžŃŃĐž Đ˛ Đ´Đ°Đ˝Đ˝ĐžĐź ŃĐťŃŃĐ°Đľ ĐžĐşĐ°ĐˇĐ°ĐťĐžŃŃ, ŃŃĐž Đ¸ĐźĐľĐ˝Đ˝Đž ŃĐ°ĐşĐžĐš ŃĐ¸ĐźĐ˛ĐžĐť Đ˛ ŃĐ˝Đ¸ĐşĐžĐ´Đľ ŃĐśĐľ ĐľŃŃŃ. ĐŃĐťĐ¸ Đ´ĐžĐąĐ°Đ˛Đ¸ŃŃ ĐˇĐ˝Đ°ŃĐşĐžĐ˛, ŃĐž Đ˝ĐžŃĐźĐ°ĐťĐ¸ĐˇĐ°ŃĐ¸Ń ŃĐśĐľ Đ´Đ°ŃŃ Đ˝ĐľŃĐşĐžĐťŃĐşĐž ŃĐ¸ĐźĐ˛ĐžĐťĐžĐ˛.</p>
<p>ĐĐťŃ ĐąĐžĐťŃŃĐ¸Đ˝ŃŃĐ˛Đ° ĐżŃĐ°ĐşŃĐ¸ŃĐľŃĐşĐ¸Ń ĐˇĐ°Đ´Đ°Ń Đ¸Đ˝ŃĐžŃĐźĐ°ŃĐ¸Đ¸, Đ´Đ°Đ˝Đ˝ĐžĐš Đ˛ŃŃĐľ, Đ´ĐžĐťĐśĐ˝Đž ĐąŃŃŃ Đ˛ĐżĐžĐťĐ˝Đľ Đ´ĐžŃŃĐ°ŃĐžŃĐ˝Đž, Đ˝Đž ĐľŃĐťĐ¸ ŃĐžŃĐľŃŃŃ ĐąĐžĐťĐľĐľ ĐżĐžĐ´ŃĐžĐąĐ˝Đž ĐžĐˇĐ˝Đ°ĐşĐžĐźĐ¸ŃŃŃŃ Ń Đ˛Đ°ŃĐ¸Đ°Đ˝ŃĐ°ĐźĐ¸ Đ¸ ĐżŃĐ°Đ˛Đ¸ĐťĐ°ĐźĐ¸ Đ˝ĐžŃĐźĐ°ĐťĐ¸ĐˇĐ°ŃĐ¸Đ¸ â ĐžĐ˝Đ¸ ĐžĐżĐ¸ŃĐ°Đ˝Ń Đ˛ ĐżŃĐ¸ĐťĐžĐśĐľĐ˝Đ¸Đ¸ Đş ŃŃĐ°Đ˝Đ´Đ°ŃŃŃ ŃĐ˝Đ¸ĐşĐžĐ´ <a href="http://www.unicode.org/reports/tr15/">Unicode Normalization Forms</a>.</p>
<h2><a class="main__anchor" href="#ĐżĐžĐťĐľĐˇĐ˝ŃĐľ-ĐźĐľŃĐžĐ´Ń" name="ĐżĐžĐťĐľĐˇĐ˝ŃĐľ-ĐźĐľŃĐžĐ´Ń">ĐĐžĐťĐľĐˇĐ˝ŃĐľ ĐźĐľŃĐžĐ´Ń</a></h2><p>ĐĐžĐąĐ°Đ˛ĐťĐľĐ˝Ń ŃŃĐ´ ĐżĐžĐťĐľĐˇĐ˝ŃŃ ĐźĐľŃĐžĐ´ĐžĐ˛ ĐžĐąŃĐľĐłĐž Đ˝Đ°ĐˇĐ˝Đ°ŃĐľĐ˝Đ¸Ń:</p>
<ul>
<li><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String/includes">str.includes(s)</a> â ĐżŃĐžĐ˛ĐľŃŃĐľŃ, Đ˛ĐşĐťŃŃĐ°ĐľŃ ĐťĐ¸ ĐžĐ´Đ˝Đ° ŃŃŃĐžĐşĐ° Đ˛ ŃĐľĐąŃ Đ´ŃŃĐłŃŃ, Đ˛ĐžĐˇĐ˛ŃĐ°ŃĐ°ĐľŃ <code>true/false</code>.</li>
<li><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String/endsWith">str.endsWith(s)</a> â Đ˛ĐžĐˇĐ˛ŃĐ°ŃĐ°ĐľŃ <code>true</code>, ĐľŃĐťĐ¸ ŃŃŃĐžĐşĐ° <code>str</code> ĐˇĐ°ĐşĐ°Đ˝ŃĐ¸Đ˛Đ°ĐľŃŃŃ ĐżĐžĐ´ŃŃŃĐžĐşĐžĐš <code>s</code>.</li>
<li><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String/startsWith">str.startsWith(s)</a> â Đ˛ĐžĐˇĐ˛ŃĐ°ŃĐ°ĐľŃ <code>true</code>, ĐľŃĐťĐ¸ ŃŃŃĐžĐşĐ° <code>str</code> Đ˝Đ°ŃĐ¸Đ˝Đ°ĐľŃŃŃ ŃĐž ŃŃŃĐžĐşĐ¸ <code>s</code>.</li>
<li><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String/repeat">str.repeat(times)</a> â ĐżĐžĐ˛ŃĐžŃŃĐľŃ ŃŃŃĐžĐşŃ <code>str</code> <code>times</code> ŃĐ°Đˇ.</li>
</ul>
<p>ĐĐžĐ˝ĐľŃĐ˝Đž, Đ˛ŃŃ ŃŃĐž ĐźĐžĐśĐ˝Đž ĐąŃĐťĐž ŃĐ´ĐľĐťĐ°ŃŃ ĐżŃĐ¸ ĐżĐžĐźĐžŃĐ¸ Đ´ŃŃĐłĐ¸Ń Đ˛ŃŃŃĐžĐľĐ˝Đ˝ŃŃ ĐźĐľŃĐžĐ´ĐžĐ˛, Đ˝Đž Đ˝ĐžĐ˛ŃĐľ ĐźĐľŃĐžĐ´Ń ĐąĐžĐťĐľĐľ ŃĐ´ĐžĐąĐ˝Ń.</p>
<h2><a class="main__anchor" href="#Đ¸ŃĐžĐłĐž" name="Đ¸ŃĐžĐłĐž">ĐŃĐžĐłĐž</a></h2><p>ĐŁĐťŃŃŃĐľĐ˝Đ¸Ń:</p>
<ul>
<li>ĐĄŃŃĐžĐşĐ¸-ŃĐ°ĐąĐťĐžĐ˝Ń â Đ´ĐťŃ ŃĐ´ĐžĐąĐ˝ĐžĐłĐž ĐˇĐ°Đ´Đ°Đ˝Đ¸Ń ŃŃŃĐžĐş (ĐźĐ˝ĐžĐłĐžŃŃŃĐžŃĐ˝ŃŃ, Ń ĐżĐľŃĐľĐźĐľĐ˝Đ˝ŃĐźĐ¸), ĐżĐťŃŃ Đ˛ĐžĐˇĐźĐžĐśĐ˝ĐžŃŃŃ Đ¸ŃĐżĐžĐťŃĐˇĐžĐ˛Đ°ŃŃ ŃŃĐ˝ĐşŃĐ¸Ń ŃĐ°ĐąĐťĐžĐ˝Đ¸ĐˇĐ°ŃĐ¸Đ¸ Đ´ĐťŃ ŃĐ°ĐźĐžŃŃĐžŃŃĐľĐťŃĐ˝ĐžĐłĐž ŃĐžŃĐźĐ°ŃĐ¸ŃĐžĐ˛Đ°Đ˝Đ¸Ń.</li>
<li>ĐŽĐ˝Đ¸ĐşĐžĐ´ â ŃĐťŃŃŃĐľĐ˝Đ° ŃĐ°ĐąĐžŃĐ° Ń ŃŃŃŃĐžĐłĐ°ŃĐ˝ŃĐźĐ¸ ĐżĐ°ŃĐ°ĐźĐ¸.</li>
<li>ĐĐžĐťĐľĐˇĐ˝ŃĐľ ĐźĐľŃĐžĐ´Ń Đ´ĐťŃ ĐżŃĐžĐ˛ĐľŃĐžĐş Đ˛ŃĐžĐśĐ´ĐľĐ˝Đ¸Ń ĐžĐ´Đ˝ĐžĐš ŃŃŃĐžĐşĐ¸ Đ˛ Đ´ŃŃĐłŃŃ.</li>
</ul>
</div></meta></article></main></div></body></html>