
		<!DOCTYPE html><html><head><meta charset="utf-8"><meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes, minimum-scale=1.0">
		<link rel="stylesheet" type="text/css" href="./styles.css">
		<link rel="stylesheet" type="text/css" href="./prism.css">
		<script src="./prism.js"></script>
		</head><body><div class="page__inner"><main class="main main_width-limit"><article itemscope="" itemtype="http://schema.org/TechArticle"><meta content="Глобальный объект" itemprop="name"><div itemprop="author" itemscope="" itemtype="http://schema.org/Person"><meta content="iliakan@gmail.com" itemprop="email"><meta content="Ilya Kantor" itemprop="name"/></meta></div><div itemprop="articleBody"><p>Механизм работы функций и переменных в JavaScript очень отличается от большинства языков.</p>
<p>Чтобы его понять, мы в этой главе рассмотрим переменные и функции в глобальной области. А в следующей – пойдём дальше.</p>
<cut>
<h2><a class="main__anchor" href="#глобальный-объект" name="глобальный-объект">Глобальный объект</a></h2><p><em>Глобальными</em> называют переменные и функции, которые не находятся внутри какой-то функции. То есть, иными словами, если переменная или функция не находятся внутри конструкции <code>function</code>, то они – «глобальные».</p>
<p><strong>В JavaScript все глобальные переменные и функции являются свойствами специального объекта, который называется <em>«глобальный объект»</em> (<code>global object</code>).</strong></p>
<p>В браузере этот объект явно доступен под именем <code>window</code>. Объект <code>window</code> одновременно является глобальным объектом и содержит ряд свойств и методов для работы с окном браузера, но нас здесь интересует только его роль как глобального объекта.</p>
<p>В других окружениях, например Node.JS, глобальный объект может быть недоступен в явном виде, но суть происходящего от этого не изменяется, поэтому далее для обозначения глобального объекта мы будем использовать <code>"window"</code>.</p>
<p><strong>Присваивая или читая глобальную переменную, мы, фактически, работаем со свойствами <code>window</code>.</strong></p>
<p>Например:</p>
<div class="code-example" data-no-strict="1" data-refresh="1" data-trusted="0">
<div class="codebox code-example__codebox">
<div class="toolbar codebox__toolbar">
<div class="toolbar__tool">
<a class="toolbar__button toolbar__button_run" data-action="run" href="#" title="выполнить"></a>
</div>
<div class="toolbar__tool">
<a class="toolbar__button toolbar__button_edit" data-action="edit" href="#" target="_blank" title="открыть в песочнице"></a>
</div>
</div>
<div class="codebox__code" data-code="1">
<pre class="line-numbers language-javascript"><code class="language-javascript">var a = 5; // объявление var создаёт свойство window.a
alert( window.a ); // 5</code></pre>
</div>
</div>
</div><p>Создать переменную можно и явным присваиванием в <code>window</code>:</p>
<div class="code-example" data-refresh="1" data-trusted="0">
<div class="codebox code-example__codebox">
<div class="toolbar codebox__toolbar">
<div class="toolbar__tool">
<a class="toolbar__button toolbar__button_run" data-action="run" href="#" title="выполнить"></a>
</div>
<div class="toolbar__tool">
<a class="toolbar__button toolbar__button_edit" data-action="edit" href="#" target="_blank" title="открыть в песочнице"></a>
</div>
</div>
<div class="codebox__code" data-code="1">
<pre class="line-numbers language-javascript"><code class="language-javascript">window.a = 5;
alert( a ); // 5</code></pre>
</div>
</div>
</div><h2><a class="main__anchor" href="#порядок-инициализации" name="порядок-инициализации">Порядок инициализации</a></h2><p>Выполнение скрипта происходит в две фазы:</p>
<ol>
<li>
<p>На первой фазе происходит инициализация, подготовка к запуску.</p>
<p>Во время инициализации скрипт сканируется на предмет объявления функций вида <a href="/function-declaration-expression">Function Declaration</a>, а затем – на предмет объявления переменных <code>var</code>. Каждое такое объявление добавляется в <code>window</code>.</p>
<p><strong>Функции, объявленные как Function Declaration, создаются сразу работающими, а переменные – равными <code>undefined</code>.</strong></p>
</li>
<li>
<p>На второй фазе – собственно, выполнение.</p>
<p>Присваивание (<code>=</code>) значений переменных происходит, когда поток выполнения доходит до соответствующей строчки кода, до этого они <code>undefined</code>.</p>
</li>
</ol>
<p>В коде ниже указано содержание глобального объекта на момент инициализации и далее последовательно по коду:</p>
<div class="code-example" data-highlight-inline="4:27-31,10:36-44" data-trusted="1">
<div class="codebox code-example__codebox">
<div class="codebox__code" data-code="1">
<pre class="line-numbers language-javascript"><code class="language-javascript">// На момент инициализации, до выполнения кода:
// window = { f: function, a: undefined, g: undefined }

var a = 5;
// window = { f: function, a: 5, g: undefined }

function f(arg) { /*...*/ }
// window = { f: function, a: 5, g: undefined } без изменений, f обработана ранее

var g = function(arg) { /*...*/ };
// window = { f: function, a: 5, g: function }</code></pre>
</div>
</div>
</div><p>Кстати, тот факт, что к началу выполнения кода переменные и функции <em>уже</em> содержатся в <code>window</code>, можно легко проверить, выведя их:</p>
<div class="code-example" data-highlight-inline="0:25-29,1:19-28,2:13-25,3:13-22" data-refresh="1" data-trusted="0">
<div class="codebox code-example__codebox">
<div class="toolbar codebox__toolbar">
<div class="toolbar__tool">
<a class="toolbar__button toolbar__button_run" data-action="run" href="#" title="выполнить"></a>
</div>
<div class="toolbar__tool">
<a class="toolbar__button toolbar__button_edit" data-action="edit" href="#" target="_blank" title="открыть в песочнице"></a>
</div>
</div>
<div class="codebox__code" data-code="1">
<pre class="line-numbers language-javascript"><code class="language-javascript">alert("a" in window); // true,  т.к. есть свойство window.a
alert(a); // равно undefined,  присваивание будет выполнено далее
alert(f); // function ...,  готовая к выполнению функция
alert(g); // undefined, т.к. это переменная, а не Function Declaration

var a = 5;
function f() { /*...*/ }
var g = function() { /*...*/ };</code></pre>
</div>
</div>
</div><div class="important important_smart">
<div class="important__header"><span class="important__type">Присвоение переменной без объявления</span></div>
<div class="important__content"><p>В старом стандарте JavaScript переменную можно было создать и без объявления <code>var</code>:</p>
<div class="code-example" data-trusted="1">
<div class="codebox code-example__codebox">
<div class="toolbar codebox__toolbar">
<div class="toolbar__tool">
<a class="toolbar__button toolbar__button_run" data-action="run" href="#" title="выполнить"></a>
</div>
<div class="toolbar__tool">
<a class="toolbar__button toolbar__button_edit" data-action="edit" href="#" target="_blank" title="открыть в песочнице"></a>
</div>
</div>
<div class="codebox__code" data-code="1">
<pre class="line-numbers language-javascript"><code class="language-javascript">a = 5;

alert( a ); // 5</code></pre>
</div>
</div>
</div><p>Такое присвоение, как и <code>var a = 5</code>, создает свойство <code>window.a = 5</code>. Отличие от <code>var a = 5</code> – в том, что переменная будет создана не на этапе входа в область видимости, а в момент присвоения.</p>
<p>Сравните два кода ниже.</p>
<p>Первый выведет <code>undefined</code>, так как переменная была добавлена в <code>window</code> на фазе инициализации:</p>
<div class="code-example" data-highlight-block="0-0" data-refresh="1" data-trusted="0">
<div class="codebox code-example__codebox">
<div class="toolbar codebox__toolbar">
<div class="toolbar__tool">
<a class="toolbar__button toolbar__button_run" data-action="run" href="#" title="выполнить"></a>
</div>
<div class="toolbar__tool">
<a class="toolbar__button toolbar__button_edit" data-action="edit" href="#" target="_blank" title="открыть в песочнице"></a>
</div>
</div>
<div class="codebox__code" data-code="1">
<pre class="line-numbers language-javascript"><code class="language-javascript">alert( a ); // undefined

var a = 5;</code></pre>
</div>
</div>
</div><p>Второй код выведет ошибку, так как переменной ещё не существует:</p>
<div class="code-example" data-highlight-block="0-0" data-refresh="1" data-trusted="0">
<div class="codebox code-example__codebox">
<div class="toolbar codebox__toolbar">
<div class="toolbar__tool">
<a class="toolbar__button toolbar__button_run" data-action="run" href="#" title="выполнить"></a>
</div>
<div class="toolbar__tool">
<a class="toolbar__button toolbar__button_edit" data-action="edit" href="#" target="_blank" title="открыть в песочнице"></a>
</div>
</div>
<div class="codebox__code" data-code="1">
<pre class="line-numbers language-javascript"><code class="language-javascript">alert( a ); // error, a is not defined

a = 5;</code></pre>
</div>
</div>
</div><p>Это, конечно, для общего понимания, мы всегда объявляем переменные через <code>var</code>.</p>
</div></div>
<div class="important important_smart">
<div class="important__header"><span class="important__type">Конструкции <code>for, if...</code> не влияют на видимость переменных</span></div>
<div class="important__content"><p>Фигурные скобки, которые используются в <code>for, while, if</code>, в отличие от объявлений функции, имеют «декоративный» характер.</p>
<p>В JavaScript нет разницы между объявлением вне блока:</p>
<div class="code-example" data-highlight-inline="0:0-3" data-trusted="1">
<div class="codebox code-example__codebox">
<div class="codebox__code" data-code="1">
<pre class="line-numbers language-javascript"><code class="language-javascript">var i;
{
  i = 5;
}</code></pre>
</div>
</div>
</div><p>…И внутри него:</p>
<div class="code-example" data-highlight-inline="2:2-5" data-trusted="1">
<div class="codebox code-example__codebox">
<div class="codebox__code" data-code="1">
<pre class="line-numbers language-javascript"><code class="language-javascript">i = 5;
{
  var i;
}</code></pre>
</div>
</div>
</div><p><strong>Также нет разницы между объявлением в цикле и вне его:</strong></p>
<div class="code-example" data-highlight-inline="0:5-8" data-refresh="1" data-trusted="0">
<div class="codebox code-example__codebox">
<div class="toolbar codebox__toolbar">
<div class="toolbar__tool">
<a class="toolbar__button toolbar__button_run" data-action="run" href="#" title="выполнить"></a>
</div>
<div class="toolbar__tool">
<a class="toolbar__button toolbar__button_edit" data-action="edit" href="#" target="_blank" title="открыть в песочнице"></a>
</div>
</div>
<div class="codebox__code" data-code="1">
<pre class="line-numbers language-javascript"><code class="language-javascript">for (var i = 0; i &lt; 5; i++) { }</code></pre>
</div>
</div>
</div><p>Идентичный по функциональности код:</p>
<div class="code-example" data-highlight-inline="0:0-6" data-refresh="1" data-trusted="0">
<div class="codebox code-example__codebox">
<div class="toolbar codebox__toolbar">
<div class="toolbar__tool">
<a class="toolbar__button toolbar__button_run" data-action="run" href="#" title="выполнить"></a>
</div>
<div class="toolbar__tool">
<a class="toolbar__button toolbar__button_edit" data-action="edit" href="#" target="_blank" title="открыть в песочнице"></a>
</div>
</div>
<div class="codebox__code" data-code="1">
<pre class="line-numbers language-javascript"><code class="language-javascript">var i;
for (i = 0; i &lt; 5; i++) { }</code></pre>
</div>
</div>
</div><p>В обоих случаях переменная будет создана до выполнения цикла, на стадии инициализации, и ее значение будет сохранено после окончания цикла.</p>
</div></div>
<div class="important important_smart">
<div class="important__header"><span class="important__type">Не важно, где и сколько раз объявлена переменная</span></div>
<div class="important__content"><p>Объявлений <code>var</code> может быть сколько угодно:</p>
<div class="code-example" data-trusted="1">
<div class="codebox code-example__codebox">
<div class="codebox__code" data-code="1">
<pre class="line-numbers language-javascript"><code class="language-javascript">var i = 10;

for (var i = 0; i &lt; 20; i++) {
  ...
}

var i = 5;</code></pre>
</div>
</div>
</div><p><strong>Все <code>var</code> будут обработаны один раз, на фазе инициализации.</strong></p>
<p>На фазе исполнения объявления <code>var</code> будут проигнорированы: они уже были обработаны. Зато будут выполнены присваивания.</p>
</div></div>
<div class="important important_warn">
<div class="important__header"><span class="important__type">Ошибки при работе с <code>window</code> в IE8-</span></div>
<div class="important__content"><p>В старых IE есть две забавные ошибки при работе с переменными в <code>window</code>:</p>
<ol>
<li>
<p>Переопределение переменной, у которой такое же имя, как и <code>id</code> элемента, приведет к ошибке:</p>
<div class="code-example" data-trusted="1">
<div class="codebox code-example__codebox">
<div class="toolbar codebox__toolbar">
<div class="toolbar__tool">
<a class="toolbar__button toolbar__button_run" data-action="run" href="#" title="показать"></a>
</div>
<div class="toolbar__tool">
<a class="toolbar__button toolbar__button_edit" data-action="edit" href="#" target="_blank" title="открыть в песочнице"></a>
</div>
</div>
<div class="codebox__code" data-code="1">
<pre class="line-numbers language-markup"><code class="language-markup">&lt;div id="a"&gt;...&lt;/div&gt;
&lt;script&gt;
  a = 5; // ошибка в IE8-! Правильно будет "var a = 5"
  alert( a ); // никогда не сработает
&lt;/script&gt;</code></pre>
</div>
</div>
</div><p>А если сделать через <code>var</code>, то всё будет хорошо.</p>
<p>Это была реклама того, что надо везде ставить <code>var</code>.</p>
</li>
<li>
<p>Ошибка при рекурсии через функцию-свойство <code>window</code>. Следующий код «умрет» в IE8-:</p>
<div class="code-example" data-trusted="1">
<div class="codebox code-example__codebox">
<div class="toolbar codebox__toolbar">
<div class="toolbar__tool">
<a class="toolbar__button toolbar__button_run" data-action="run" href="#" title="показать"></a>
</div>
<div class="toolbar__tool">
<a class="toolbar__button toolbar__button_edit" data-action="edit" href="#" target="_blank" title="открыть в песочнице"></a>
</div>
</div>
<div class="codebox__code" data-code="1">
<pre class="line-numbers language-markup"><code class="language-markup">&lt;script&gt;
  // рекурсия через функцию, явно записанную в window
  window.recurse = function(times) {
    if (times !== 0) recurse(times - 1);
  }

  recurse(13);
&lt;/script&gt;</code></pre>
</div>
</div>
</div><p>Проблема здесь возникает из-за того, что функция напрямую присвоена в <code>window.recurse = ...</code>. Ее не будет при обычном объявлении функции.</p>
<p><strong>Этот пример выдаст ошибку только в настоящем IE8!</strong> Не IE9 в режиме эмуляции. Вообще, режим эмуляции позволяет отлавливать где-то 95% несовместимостей и проблем, а для оставшихся 5% вам нужен будет настоящий IE8 в виртуальной машине.</p>
</li>
</ol>
</div></div>
<h2><a class="main__anchor" href="#итого" name="итого">Итого</a></h2><p>В результате инициализации, к началу выполнения кода:</p>
<ol>
<li>Функции, объявленные как <code>Function Declaration</code>, создаются полностью и готовы к использованию.</li>
<li>Переменные объявлены, но равны <code>undefined</code>. Присваивания выполнятся позже, когда выполнение дойдет до них.</li>
</ol>
</cut></div></meta></article></main></div></body></html>