
		<!DOCTYPE html><html><head><meta charset="utf-8"><meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes, minimum-scale=1.0">
		<link rel="stylesheet" type="text/css" href="./styles.css">
		<link rel="stylesheet" type="text/css" href="./prism.css">
		<script src="./prism.js"></script>
		</head><body><div class="page__inner"><main class="main main_width-limit"><article itemscope="" itemtype="http://schema.org/TechArticle"><meta content="Proxy" itemprop="name"><div itemprop="author" itemscope="" itemtype="http://schema.org/Person"><meta content="iliakan@gmail.com" itemprop="email"><meta content="Ilya Kantor" itemprop="name"/></meta></div><div itemprop="articleBody"><p><em>Прокси</em> (proxy) – особый объект, смысл которого – перехватывать обращения к другому объекту и, при необходимости, модифицировать их.</p>
<p>Синтаксис:</p>
<div class="code-example" data-trusted="1">
<div class="codebox code-example__codebox">
<div class="codebox__code" data-code="1">
<pre class="line-numbers language-javascript"><code class="language-javascript">let proxy = new Proxy(target, handler)</code></pre>
</div>
</div>
</div><p>Здесь:</p>
<ul>
<li><code>target</code> – объект, обращения к которому надо перехватывать.</li>
<li><code>handler</code> – объект с «ловушками»: функциями-перехватчиками для операций к <code>target</code>.</li>
</ul>
<p>Почти любая операция может быть перехвачена и обработана прокси до или даже вместо доступа к объекту <code>target</code>, например: чтение и запись свойств, получение списка свойств, вызов функции (если <code>target</code> – функция) и т.п.</p>
<p>Различных типов ловушек довольно много.</p>
<p>Сначала мы подробно рассмотрим самые важные «ловушки», а затем посмотрим и на их полный список.</p>
<div class="important important_smart">
<div class="important__header"><span class="important__type">Если ловушки нет – операция идёт над <code>target</code></span></div>
<div class="important__content"><p>Если для операции нет ловушки, то она выполняется напрямую над <code>target</code>.</p>
</div></div>
<h2><a class="main__anchor" href="#get-set" name="get-set">get/set</a></h2><p>Самыми частыми являются ловушки для чтения и записи в объект:</p>
<dl>
<dt><code>get(target, property, receiver)</code></dt>
<dd>Срабатывает при чтении свойства из прокси.
Аргументы:</dd>
</dl>
<ul>
<li><code>target</code> – целевой объект, тот же который был передан первым аргументом в <code>new Proxy</code>.</li>
<li><code>property</code> – имя свойства.</li>
<li><code>receiver</code> – объект, к которому было применено присваивание. Обычно сам прокси, либо прототипно наследующий от него. Этот аргумент используется редко.</li>
</ul>
<dl>
<dt><code>set(target, property, value, receiver)</code></dt>
<dd>
<p>Срабатывает при записи свойства в прокси.</p>
<p>Аргументы:</p>
</dd>
</dl>
<ul>
<li>
<p><code>target</code> – целевой объект, тот же который был передан первым аргументом в <code>new Proxy</code>.</p>
</li>
<li>
<p><code>property</code> – имя свойства.</p>
</li>
<li>
<p><code>value</code> – значение свойства.</p>
</li>
<li>
<p><code>receiver</code> – объект, к которому было применено присваивание, обычно сам прокси, либо прототипно наследующий от него.</p>
<p>Метод <code>set</code> должен вернуть <code>true</code>, если присвоение успешно обработано и <code>false</code> в случае ошибки (приведёт к генерации <code>TypeError</code>).</p>
</li>
</ul>
<p>Пример с выводом всех операций чтения и записи:</p>
<div class="code-example" data-highlight-block="6-6,10-10" data-trusted="1">
<div class="codebox code-example__codebox">
<div class="toolbar codebox__toolbar">
<div class="toolbar__tool">
<a class="toolbar__button toolbar__button_run" data-action="run" href="#" title="выполнить"></a>
</div>
<div class="toolbar__tool">
<a class="toolbar__button toolbar__button_edit" data-action="edit" href="#" target="_blank" title="открыть в песочнице"></a>
</div>
</div>
<div class="codebox__code" data-code="1">
<pre class="line-numbers language-javascript"><code class="language-javascript">'use strict';

let user = {};

let proxy = new Proxy(user, {
  get(target, prop) {
    alert(`Чтение ${prop}`);
    return target[prop];
  },
  set(target, prop, value) {
    alert(`Запись ${prop} ${value}`);
    target[prop] = value;
    return true;
  }
});

proxy.firstName = "Ilya"; // запись

proxy.firstName; // чтение

alert(user.firstName); // Ilya</code></pre>
</div>
</div>
</div><p>При каждой операции чтения и записи свойств <code>proxy</code> в коде выше срабатывают методы <code>get/set</code>. Через них значение в конечном счёте попадает в объект (или считывается из него).</p>
<p>Можно сделать и позаковыристее.</p>
<p>Методы <code>get/set</code> позволяют реализовать доступ к произвольным свойствам, которых в объекте нет.</p>
<p>Например, в коде ниже словарь <code>dictionary</code> содержит различные фразы:</p>
<div class="code-example" data-trusted="1">
<div class="codebox code-example__codebox">
<div class="toolbar codebox__toolbar">
<div class="toolbar__tool">
<a class="toolbar__button toolbar__button_run" data-action="run" href="#" title="выполнить"></a>
</div>
<div class="toolbar__tool">
<a class="toolbar__button toolbar__button_edit" data-action="edit" href="#" target="_blank" title="открыть в песочнице"></a>
</div>
</div>
<div class="codebox__code" data-code="1">
<pre class="line-numbers language-javascript"><code class="language-javascript">'use strict';

let dictionary = {
  'Hello': 'Привет',
  'Bye': 'Пока'
};

alert( dictionary['Hello'] ); // Привет</code></pre>
</div>
</div>
</div><p>А что, если фразы нет? В этом случае будем возвращать фразу без перевода и, на всякий случай, писать об этом в консоль:</p>
<div class="code-example" data-highlight-block="18-18" data-trusted="1">
<div class="codebox code-example__codebox">
<div class="toolbar codebox__toolbar">
<div class="toolbar__tool">
<a class="toolbar__button toolbar__button_run" data-action="run" href="#" title="выполнить"></a>
</div>
<div class="toolbar__tool">
<a class="toolbar__button toolbar__button_edit" data-action="edit" href="#" target="_blank" title="открыть в песочнице"></a>
</div>
</div>
<div class="codebox__code" data-code="1">
<pre class="line-numbers language-javascript"><code class="language-javascript">'use strict';

let dictionary = {
  'Hello': 'Привет',
  'Bye': 'Пока'
};

dictionary = new Proxy(dictionary, {
  get(target, phrase) {
    if (phrase in target) {
      return target[phrase];
    } else {
      console.log(`No phrase: ${phrase}`);
      return phrase;
    }
  }
})

// Обращаемся к произвольным свойствам словаря!
alert( dictionary['Hello'] ); // Привет
alert( dictionary['Welcome']); // Welcome (без перевода)</code></pre>
</div>
</div>
</div><p>Аналогично и перехватчик <code>set</code> может организовать работу с произвольными свойствами.</p>
<h1><a class="main__anchor" href="#has" name="has">has</a></h1><p>Ловушка <code>has</code> срабатывает в операторе <code>in</code> и некоторых других случаях, когда проверяется наличие свойства.</p>
<p>В примере выше, если проверить наличие свойства <code>Welcome</code> в <code>dictionary</code>, то оператор <code>in</code> вернёт <code>false</code>:</p>
<div class="code-example" data-trusted="1">
<div class="codebox code-example__codebox">
<div class="codebox__code" data-code="1">
<pre class="line-numbers language-javascript"><code class="language-javascript">alert( 'Hello' in dictionary ); // true
alert( 'Welcome' in dictionary ); // false, нет такого свойства</code></pre>
</div>
</div>
</div><p>Это потому, что для перехвата <code>in</code> используется ловушка <code>has</code>. При отсутствии ловушки операция производится напрямую над исходным объектом <code>target</code>, что и даёт такой результат.</p>
<p>Синтаксис <code>has</code> аналогичен <code>get</code>.</p>
<p>Вот так <code>dictionary</code> будет всегда возвращать <code>true</code> для любой <code>in</code>-проверки:</p>
<div class="code-example" data-highlight-block="12-12" data-trusted="1">
<div class="codebox code-example__codebox">
<div class="toolbar codebox__toolbar">
<div class="toolbar__tool">
<a class="toolbar__button toolbar__button_run" data-action="run" href="#" title="выполнить"></a>
</div>
<div class="toolbar__tool">
<a class="toolbar__button toolbar__button_edit" data-action="edit" href="#" target="_blank" title="открыть в песочнице"></a>
</div>
</div>
<div class="codebox__code" data-code="1">
<pre class="line-numbers language-javascript"><code class="language-javascript">'use strict';

let dictionary = {
  'Hello': 'Привет'
};

dictionary = new Proxy(dictionary, {
  has(target, phrase) {
    return true;
  }
});

alert("BlaBlaBla" in dictionary); // true</code></pre>
</div>
</div>
</div><h1><a class="main__anchor" href="#deleteproperty" name="deleteproperty">deleteProperty</a></h1><p>Ловушка <code>deleteProperty</code> по синтаксису аналогична <code>get/has</code>.</p>
<p>Срабатывает при операции <code>delete</code>, должна вернуть <code>true</code>, если удаление было успешным.</p>
<p>В примере ниже <code>delete</code> не повлияет на исходный объект, так как все операции перехватываются и «аннигилируются» прокси:</p>
<div class="code-example" data-highlight-block="12-13" data-trusted="1">
<div class="codebox code-example__codebox">
<div class="toolbar codebox__toolbar">
<div class="toolbar__tool">
<a class="toolbar__button toolbar__button_run" data-action="run" href="#" title="выполнить"></a>
</div>
<div class="toolbar__tool">
<a class="toolbar__button toolbar__button_edit" data-action="edit" href="#" target="_blank" title="открыть в песочнице"></a>
</div>
</div>
<div class="codebox__code" data-code="1">
<pre class="line-numbers language-javascript"><code class="language-javascript">'use strict';

let dictionary = {
  'Hello': 'Привет'
};

let proxy = new Proxy(dictionary, {
  deleteProperty(target, phrase) {
    return true; // ничего не делаем, но возвращает true
  }
});

// не удалит свойство
delete proxy['Hello'];

alert("Hello" in dictionary); // true

// будет то же самое, что и выше
// так как нет ловушки has, операция in сработает на исходном объекте
alert("Hello" in proxy); // true</code></pre>
</div>
</div>
</div><h1><a class="main__anchor" href="#enumerate" name="enumerate">enumerate</a></h1><p>Ловушка <code>enumerate</code> перехватывает операции <code>for..in</code> и <code>for..of</code> по объекту.</p>
<p>Как и до ранее, если ловушки нет, то эти операторы работают с исходным объектом:</p>
<div class="code-example" data-highlight-block="6-6" data-trusted="1">
<div class="codebox code-example__codebox">
<div class="toolbar codebox__toolbar">
<div class="toolbar__tool">
<a class="toolbar__button toolbar__button_run" data-action="run" href="#" title="выполнить"></a>
</div>
<div class="toolbar__tool">
<a class="toolbar__button toolbar__button_edit" data-action="edit" href="#" target="_blank" title="открыть в песочнице"></a>
</div>
</div>
<div class="codebox__code" data-code="1">
<pre class="line-numbers language-javascript"><code class="language-javascript">'use strict';

let obj = {a: 1, b: 1};

let proxy = new Proxy(obj, {});

// перечисление прокси работает с исходным объектом
for(let prop in proxy) {
  alert(prop); // Выведет свойства obj: a, b
}</code></pre>
</div>
</div>
</div><p>Если же ловушка <code>enumerate</code> есть, то она будет вызвана с единственным аргументом <code>target</code> и сможет вернуть <a href="/iterator">итератор</a> для свойств.</p>
<p>В примере ниже прокси делает так, что итерация идёт по всем свойствам, кроме начинающихся с подчёркивания <code>_</code>:</p>
<div class="code-example" data-highlight-block="19-19" data-trusted="1">
<div class="codebox code-example__codebox">
<div class="toolbar codebox__toolbar">
<div class="toolbar__tool">
<a class="toolbar__button toolbar__button_run" data-action="run" href="#" title="выполнить"></a>
</div>
<div class="toolbar__tool">
<a class="toolbar__button toolbar__button_edit" data-action="edit" href="#" target="_blank" title="открыть в песочнице"></a>
</div>
</div>
<div class="codebox__code" data-code="1">
<pre class="line-numbers language-javascript"><code class="language-javascript">'use strict';

let user = {
  name: "Ilya",
  surname: "Kantor",
  _version: 1,
  _secret: 123456
};

let proxy = new Proxy(user, {
  enumerate(target) {
    let props = Object.keys(target).filter(function(prop) {
      return prop[0] != '_';
    });

    return props[Symbol.iterator]();
  }
});

// отфильтрованы свойства, начинающиеся с _
for(let prop in proxy) {
  alert(prop); // Выведет свойства user: name, surname
}</code></pre>
</div>
</div>
</div><p>Посмотрим внимательнее, что происходит внутри <code>enumerate</code>:</p>
<ol>
<li>Сначала получаем список интересующих нас свойств в виде массива.</li>
<li>Метод должен возвратить <a href="/iterator">итератор</a> по массиву. Встроенный итератор для массива получаем через вызов <code>props[Symbol.iterator]()</code>.</li>
</ol>
<h1><a class="main__anchor" href="#apply" name="apply">apply</a></h1><p>Прокси умеет работать не только с обычными объектами, но и с функциями.</p>
<p>Если аргумент <code>target</code> прокси – функция, то становится доступна ловушка <code>apply</code> для её вызова.</p>
<p>Метод <code>apply(target, thisArgument, argumentsList)</code> получает:</p>
<ul>
<li><code>target</code> – исходный объект.</li>
<li><code>thisArgument</code> – контекст <code>this</code> вызова.</li>
<li><code>argumentsList</code> – аргументы вызова в виде массива.</li>
</ul>
<p>Она может обработать вызов сама и/или передать его функции.</p>
<div class="code-example" data-highlight-block="7-7" data-trusted="1">
<div class="codebox code-example__codebox">
<div class="toolbar codebox__toolbar">
<div class="toolbar__tool">
<a class="toolbar__button toolbar__button_run" data-action="run" href="#" title="выполнить"></a>
</div>
<div class="toolbar__tool">
<a class="toolbar__button toolbar__button_edit" data-action="edit" href="#" target="_blank" title="открыть в песочнице"></a>
</div>
</div>
<div class="codebox__code" data-code="1">
<pre class="line-numbers language-javascript"><code class="language-javascript">'use strict';

function sum(a, b) {
  return a + b;
}

let proxy = new Proxy(sum, {
  // передаст вызов в target, предварительно сообщив о нём
  apply: function(target, thisArg, argumentsList) {
    alert(`Буду вычислять сумму: ${argumentsList}`);
    return target.apply(thisArg, argumentsList);
  }
});

// Выведет сначала сообщение из прокси,
// а затем уже сумму
alert( proxy(1, 2) );</code></pre>
</div>
</div>
</div><p>Нечто подобное можно сделать через замыкания. Но прокси может гораздо больше. В том числе и перехватывать вызовы через <code>new</code>.</p>
<h2><a class="main__anchor" href="#construct" name="construct">construct</a></h2><p>Ловушка <code>construct(target, argumentsList)</code> перехватывает вызовы при помощи <code>new</code>.</p>
<p>Она получает исходный объект <code>target</code> и список аргументов <code>argumentsList</code>.</p>
<p>Пример ниже передаёт операцию создания исходному классу или функции-конструктору, выводя сообщение об этом:</p>
<div class="code-example" data-highlight-block="8-8" data-trusted="1">
<div class="codebox code-example__codebox">
<div class="toolbar codebox__toolbar">
<div class="toolbar__tool">
<a class="toolbar__button toolbar__button_run" data-action="run" href="#" title="выполнить"></a>
</div>
<div class="toolbar__tool">
<a class="toolbar__button toolbar__button_edit" data-action="edit" href="#" target="_blank" title="открыть в песочнице"></a>
</div>
</div>
<div class="codebox__code" data-code="1">
<pre class="line-numbers language-javascript"><code class="language-javascript">'use strict';

function User(name, surname) {
  this.name = name;
  this.surname = surname;
}

let UserProxy = new Proxy(User, {
  // передаст вызов new User, предварительно сообщив о нём
  construct: function(target, argumentsList) {
    alert(`Запуск new с аргументами: ${argumentsList}`);
    return new target(...argumentsList);
  }
});

let user = new UserProxy("Ilya", "Kantor");

alert( user.name ); // Ilya</code></pre>
</div>
</div>
</div><h2><a class="main__anchor" href="#полный-список" name="полный-список">Полный список</a></h2><p>Полный список возможных функций-перехватчиков, которые может задавать <code>handler</code>:</p>
<ul>
<li><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Proxy/handler/has">getPrototypeOf</a> – перехватывает обращение к методу <code>getPrototypeOf</code>.</li>
<li><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Proxy/handler/setPrototypeOf">setPrototypeOf</a> – перехватывает обращение к методу <code>setPrototypeOf</code>.</li>
<li><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Proxy/handler/isExtensible">isExtensible</a> – перехватывает обращение к методу <code>isExtensible</code>.</li>
<li><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Proxy/handler/preventExtensions">preventExtensions</a> – перехватывает обращение к методу <code>preventExtensions</code>.</li>
<li><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Proxy/handler/getOwnPropertyDescriptor">getOwnPropertyDescriptor</a> – перехватывает обращение к методу <code>getOwnPropertyDescriptor</code>.</li>
<li><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Proxy/handler/defineProperty">defineProperty</a> – перехватывает обращение к методу <code>defineProperty</code>.</li>
<li><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Proxy/handler/has">has</a> – перехватывает проверку существования свойства, которая используется в операторе <code>in</code> и в некоторых других методах встроенных объектов.</li>
<li><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Proxy/handler/get">get</a> – перехватывает чтение свойства.</li>
<li><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Proxy/handler/set">set</a> – перехватывает запись свойства.</li>
<li><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Proxy/handler/deleteProperty">deleteProperty</a> – перехватывает удаление свойства оператором <code>delete</code>.</li>
<li><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Proxy/handler/enumerate">enumerate</a> – срабатывает при вызове <code>for..in</code> или <code>for..of</code>, возвращает итератор для свойств объекта.</li>
<li><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Proxy/handler/ownKeys">ownKeys</a> – перехватывает обращения к методу <code>getOwnPropertyNames</code>.</li>
<li><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Proxy/handler/apply">apply</a> – перехватывает вызовы <code>target()</code>.</li>
<li><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Proxy/handler/construct">construct</a> – перехватывает вызовы <code>new target()</code>.</li>
</ul>
<p>Каждый перехватчик запускается с <code>handler</code> в качестве <code>this</code>. Это означает, что <code>handler</code> кроме ловушек может содержать и другие полезные свойства и методы.</p>
<p>Каждый перехватчик получает в аргументах <code>target</code> и дополнительные параметры в зависимости от типа.</p>
<p>Если перехватчик в <code>handler</code> не указан, то операция совершается, как если бы была вызвана прямо на <code>target</code>.</p>
<h2><a class="main__anchor" href="#итого" name="итого">Итого</a></h2><p><code>Proxy</code> позволяет модифицировать поведение объекта как угодно, перехватывать любые обращения к его свойствам и методам, включая вызовы для функций.</p>
<p>Особенно приятна возможность перехватывать обращения к отсутствующим свойствам, разработчики ожидали её уже давно.</p>
<p>Что касается поддержки, то возможности полифиллов здесь ограничены. «Переписать» прокси на старом JavaScript сложновато, учитывая низкоуровневые возможности, которые он даёт.</p>
<p>Поэтому нужна именно браузерная поддержка. <a href="https://kangax.github.io/compat-table/es6/">Постепенно</a> она реализуется.</p>
</div></meta></article></main></div></body></html>