
		<!DOCTYPE html><html><head><meta charset="utf-8"><meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes, minimum-scale=1.0">
		<link rel="stylesheet" type="text/css" href="./styles.css">
		<link rel="stylesheet" type="text/css" href="./prism.css">
		<script src="./prism.js"></script>
		</head><body><div class="page__inner"><main class="main main_width-limit"><article itemscope="" itemtype="http://schema.org/TechArticle"><meta content="Что изучать дальше" itemprop="name"><div itemprop="author" itemscope="" itemtype="http://schema.org/Person"><meta content="iliakan@gmail.com" itemprop="email"><meta content="Ilya Kantor" itemprop="name"/></meta></div><div itemprop="articleBody"><p>Если вы прочитали весь учебник и сделали задачи, то на текущий момент вы обладаете важнейшими фундаментальными знаниями и навыками JavaScript.</p>
<cut>
<p>В этом разделе мы изучали основы создания компонентов на JavaScript. Если проект большой и сложный, то понадобятся дополнительные инструменты для связывания компонент между собой, для привязки к ним данных и так далее.</p>
<p>Сейчас существует много фреймворков. Всё активно развивается, меняется, кипит и булькает, может быть из этого получится «общепринятая» архитектура, а может и нет. Сейчас явного победителя нет, выбор фреймворка зависит от проекта и личных предпочтений разработчиков.</p>
<p>Примеры удачных фреймворков, которые можно изучить:</p>
<ul>
<li><a href="http://angularjs.org">Angular.JS</a></li>
<li><a href="http://facebook.github.io/react/">React.JS</a> + <a href="http://facebook.github.io/flux/">Flux</a></li>
<li><a href="http://backbonejs.org/">Backbone.JS</a> + <a href="http://marionettejs.com/">Marionette</a></li>
</ul>
<p>Также для работы с браузерами понадобятся различные <a href="https://ru.wikipedia.org/wiki/%D0%98%D0%BD%D1%82%D0%B5%D1%80%D1%84%D0%B5%D0%B9%D1%81_%D0%BF%D1%80%D0%BE%D0%B3%D1%80%D0%B0%D0%BC%D0%BC%D0%B8%D1%80%D0%BE%D0%B2%D0%B0%D0%BD%D0%B8%D1%8F_%D0%BF%D1%80%D0%B8%D0%BB%D0%BE%D0%B6%D0%B5%D0%BD%D0%B8%D0%B9">API</a>, в частности:</p>
<ul>
<li>Работу с окнами и фреймами.</li>
<li>Регулярные выражения, класс <code>RegExp</code>.</li>
<li>Объекты <code>XMLHttpRequest</code> и <code>WebSocket</code> для работы с сервером.</li>
<li>Другие возможности современных браузеров.</li>
</ul>
<p>В дополнительных разделах учебника мы обязательно разберём что-то из этого.</p>
<p>…И, конечно, понадобится система сборки проектов, например <a href="http://webpack.github.io/">WebPack</a>.</p>
<p>Успехов вам!</p>
</cut></div></meta></article></main></div></body></html>