
		<!DOCTYPE html><html><head><meta charset="utf-8"><meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes, minimum-scale=1.0">
		<link rel="stylesheet" type="text/css" href="./styles.css">
		<link rel="stylesheet" type="text/css" href="./prism.css">
		<script src="./prism.js"></script>
		</head><body><div class="page__inner"><main class="main main_width-limit"><article itemscope="" itemtype="http://schema.org/TechArticle"><meta content="Как писать неподдерживаемый код?" itemprop="name"><div itemprop="author" itemscope="" itemtype="http://schema.org/Person"><meta content="iliakan@gmail.com" itemprop="email"><meta content="Ilya Kantor" itemprop="name"/></meta></div><div itemprop="articleBody"><div class="important important_warn">
<div class="important__header"><span class="important__type">Познай свой код</span></div>
<div class="important__content"><p>Эта статья представляет собой мой вольный перевод <a href="http://mindprod.com/jgloss/unmain.html">How To Write Unmaintainable Code</a> («как писать неподдерживаемый код») с дополнениями, актуальными для JavaScript.</p>
<p>Возможно, в каких-то из этих советов вам даже удастся узнать «этого парня в зеркале».</p>
</div></div>
<p>Предлагаю вашему вниманию советы мастеров древности, следование которым создаст дополнительные рабочие места для JavaScript-разработчиков.</p>
<p>Если вы будете им следовать, то ваш код будет так сложен в поддержке, что у JavaScript’еров, которые придут после вас, даже простейшее изменение займет годы <em>оплачиваемого</em> труда! А сложные задачи оплачиваются хорошо, так что они, определённо, скажут вам «Спасибо».</p>
<p>Более того, <em>внимательно</em> следуя этим правилам, вы сохраните и своё рабочее место, так как все будут бояться вашего кода и бежать от него…</p>
<p>…Впрочем, всему своя мера. При написании такого кода он не должен <em>выглядеть</em> сложным в поддержке, код должен <em>быть</em> таковым.</p>
<p>Явно кривой код может написать любой дурак. Это заметят, и вас уволят, а код будет переписан с нуля. Вы не можете такого допустить.  Эти советы учитывают такую возможность. Да здравствует дзен.</p>
<cut>
<h2><a class="main__anchor" href="#соглашения-по-настроению" name="соглашения-по-настроению">Соглашения – по настроению</a></h2><blockquote class="quote"><div class="quote__i"><div class="quote__text"><p>Рабочий-чистильщик осматривает дом:<br>
"…Вот только жук у вас необычный…<br>
И чтобы с ним справиться, я должен жить как жук, стать жуком, думать как жук."<br>
(грызёт стол Симпсонов)</br></br></br></p>
</div></div><footer class="quote__footer">
<cite class="quote__author">Сериал "Симпсоны", серия Helter Shelter</cite>
</footer></blockquote><p>Чтобы помешать другому программисту исправить ваш код, вы должны понять путь его мыслей.</p>
<p>Представьте, перед ним – ваш большой скрипт. И ему нужно поправить его. У него нет ни времени ни желания, чтобы читать его целиком, а тем более – досконально разбирать. Он хотел бы по-быстрому найти нужное место, сделать изменение и убраться восвояси без появления побочных эффектов.</p>
<p>Он рассматривает ваш код как бы через трубочку из туалетной бумаги. Это не даёт ему общей картины, он ищет тот небольшой фрагмент, который ему необходимо изменить. По крайней мере, он надеется, что этот фрагмент будет небольшим.</p>
<p><strong>На что он попытается опереться в этом поиске – так это на соглашения, принятые в программировании, об именах переменных, названиях функций и методов…</strong></p>
<p>Как затруднить задачу? Можно везде нарушать соглашения – это помешает ему, но такое могут заметить, и код будет переписан. Как поступил бы ниндзя на вашем месте?</p>
<p><strong>…Правильно! Следуйте соглашениям «в общем», но иногда – нарушайте их.</strong></p>
<p>Тщательно разбросанные по коду нарушения соглашений с одной стороны не делают код явно плохим при первом взгляде, а с другой – имеют в точности тот же, и даже лучший эффект, чем явное неследование им!</p>
<h3><a class="main__anchor" href="#пример-из-jquery" name="пример-из-jquery">Пример из jQuery</a></h3><div class="important important_warn">
<div class="important__header"><span class="important__type">jQuery / DOM</span></div>
<div class="important__content"><p>Этот пример требует знаний jQuery/DOM, если пока их у вас нет – пропустите его, ничего страшного, но обязательно вернитесь к нему позже. Подобное стоит многих часов отладки.</p>
</div></div>
<p>Во фреймворке jQuery есть метод <a href="http://api.jquery.com/wrap/">wrap</a>, который обёртывает один элемент вокруг другого:</p>
<div class="code-example" data-trusted="1">
<div class="codebox code-example__codebox">
<div class="codebox__code" data-code="1">
<pre class="line-numbers language-javascript"><code class="language-javascript">var img = $('&lt;img/&gt;'); // создали новые элементы (jQuery-синтаксис)
var div = $('&lt;div/&gt;'); // и поместили в переменную

img.wrap(div); // обернуть img в div
div.append('&lt;span/&gt;');</code></pre>
</div>
</div>
</div><p>Результат кода после операции <code>wrap</code> – два элемента, один вложен в другой:</p>
<div class="code-example" data-trusted="1">
<div class="codebox code-example__codebox">
<div class="codebox__code" data-code="1">
<pre class="line-numbers language-markup"><code class="language-markup">&lt;div&gt;
  &lt;img/&gt;
&lt;/div&gt;</code></pre>
</div>
</div>
</div><p>А что же после <code>append</code>?</p>
<p>Можно предположить, что <code>&lt;span/&gt;</code> добавится в конец <code>div</code>, сразу после <code>img</code>… Но ничего подобного!</p>
<p>Искусный ниндзя уже нанёс свой удар и поведение кода стало неправильным, хотя разработчик об этом даже не подозревает.</p>
<p>Как правило, методы jQuery работают с теми элементами, которые им переданы. Но не здесь!</p>
<p>Внутри вызова <code>img.wrap(div)</code> происходит клонирование <code>div</code> и вокруг <code>img</code> оборачивается не сам <code>div</code>, а его клон. При этом исходная переменная <code>div</code> не меняется, в ней как был пустой <code>div</code>, так и остался.</p>
<p>В итоге, после вызова получается два независимых <code>div'а</code>:  первый содержит <code>img</code> (этот неявный клон никуда не присвоен), а второй – наш <code>span</code>.</p>
<p>Объяснения не очень понятны? Написано что-то странное? Это просто разум, привыкший, что соглашения уважаются, не допускает мысли, что вызов <code>wrap</code> – неявно клонирует элемент. Ведь другие jQuery-методы, кроме <code>clone</code> этого не делают.</p>
<p>Как говорил <a href="https://ru.wikipedia.org/wiki/%D0%9A%D0%BE%D0%BD%D1%84%D1%83%D1%86%D0%B8%D0%B9">Учитель</a>: «В древности люди учились для того, чтобы совершенствовать себя. Нынче учатся для того, чтобы удивить других».</p>
<h2><a class="main__anchor" href="#краткость-сестра-таланта" name="краткость-сестра-таланта">Краткость – сестра таланта!</a></h2><p>Пишите «как короче», а не как понятнее. «Меньше букв» – уважительная причина для нарушения любых соглашений.</p>
<p>Ваш верный помощник – возможности языка, использованные неочевидным образом.</p>
<p>Обратите внимание на оператор вопросительный знак <code>'?'</code>, например:</p>
<div class="code-example" data-trusted="1">
<div class="codebox code-example__codebox">
<div class="codebox__code" data-code="1">
<pre class="line-numbers language-javascript"><code class="language-javascript">// код из jQuery
i = i ? i &lt; 0 ? Math.max(0, len + i) : i : 0;</code></pre>
</div>
</div>
</div><p>Разработчик, встретивший эту строку и попытавшийся понять, чему же всё-таки равно <code>i</code>, скорее всего придёт к вам за разъяснениями. Смело скажите ему, что короче – это всегда лучше. Посвятите и его в пути ниндзя. Не забудьте вручить <a href="http://lib.ru/POECHIN/lao1.txt">Дао дэ цзин</a>.</p>
<h2><a class="main__anchor" href="#именование" name="именование">Именование</a></h2><p>Существенную часть науки о создании неподдерживаемого кода занимает искусство выбора имён.</p>
<h3><a class="main__anchor" href="#однобуквенные-переменные" name="однобуквенные-переменные">Однобуквенные переменные</a></h3><p>Называйте переменные коротко: <code>a</code>, <code>b</code> или <code>c</code>.</p>
<p>В этом случае никто не сможет найти её, используя фунцию «Поиск» текстового редактора.</p>
<p>Более того, даже найдя – никто не сможет «расшифровать» её и догадаться, что она означает.</p>
<h3><a class="main__anchor" href="#не-используйте-i-для-цикла" name="не-используйте-i-для-цикла">Не используйте i для цикла</a></h3><p>В тех местах, где однобуквенные переменные общеприняты, например, в счетчике цикла – ни в коем случае не используйте стандартные названия <code>i</code>, <code>j</code>, <code>k</code>. Где угодно, только не здесь!</p>
<p>Остановите свой взыскательный взгляд на чём-нибудь более экзотическом. Например, <code>x</code> или <code>y</code>.</p>
<p>Эффективность этого подхода особенно заметна, если тело цикла занимает одну-две страницы (чем длиннее – тем лучше).</p>
<p>В этом случае заметить, что переменная – счетчик цикла, без пролистывания вверх, невозможно.</p>
<h3><a class="main__anchor" href="#русские-слова-и-сокращения" name="русские-слова-и-сокращения">Русские слова и сокращения</a></h3><p>Если вам <em>приходится</em> использовать длинные, понятные имена переменных – что поделать… Но и здесь есть простор для творчества!</p>
<p><strong>Назовите переменные «калькой» с русского языка или как-то «улучшите» английское слово.</strong></p>
<p>В одном месте напишите <code>var ssilka</code>, в другом <code>var ssylka</code>, в третьем <code>var link</code>, в четвёртом – <code>var lnk</code>… Это действительно великолепно работает и очень креативно!</p>
<p>Количество ошибок при поддержке такого кода увеличивается во много раз.</p>
<h3><a class="main__anchor" href="#будьте-абстрактны-при-выборе-имени" name="будьте-абстрактны-при-выборе-имени">Будьте абстрактны при выборе имени</a></h3><blockquote class="quote"><div class="quote__i"><div class="quote__text"><p>Лучший кувшин лепят всю жизнь.<br>
Высокая музыка неподвластна слуху.<br>
Великий образ не имеет формы.</br></br></p>
</div></div><footer class="quote__footer">
<cite class="quote__author">Лао-цзы</cite>
</footer></blockquote><p>При выборе имени старайтесь применить максимально абстрактное слово, например <code>obj</code>, <code>data</code>, <code>value</code>, <code>item</code>, <code>elem</code> и т.п.</p>
<ul>
<li>
<p><strong>Идеальное имя для переменной: <code>data</code>.</strong> Используйте это имя везде, где можно. В конце концов, каждая переменная содержит <em>данные</em>, не правда ли?</p>
<p>Но что делать, если имя <code>data</code> уже занято? Попробуйте <code>value</code>, оно не менее универсально. Ведь каждая переменная содержит <em>значение</em>.</p>
<p>Занято и это? Есть и другой вариант.</p>
</li>
<li>
<p><strong>Называйте переменную по типу данных, которые она хранит: <code>obj</code>, <code>num</code>, <code>arr</code>…</strong></p>
<p>Насколько это усложнит разработку? Как ни странно, намного!</p>
<p>Казалось бы, название переменной содержит информацию, говорит о том, что в переменной – число, объект или массив… С другой стороны, <strong>когда непосвящённый будет разбирать этот код – он с удивлением обнаружит, что информации нет!</strong></p>
<p>Ведь как раз тип легко понять, запустив отладчик и посмотрев, что внутри. Но в чём смысл этой переменной? Что за массив/объект/число в ней хранится? Без долгой медитации над кодом тут не обойтись!</p>
</li>
<li>
<p><strong>Что делать, если и эти имена кончились? Просто добавьте цифру:</strong> <code>item1, item2, elem5, data1</code>…</p>
</li>
</ul>
<h3><a class="main__anchor" href="#похожие-имена" name="похожие-имена">Похожие имена</a></h3><p>Только истинно внимательный программист достоин понять ваш код. Но как проверить, достоин ли читающий?</p>
<p><strong>Один из способов – использовать похожие имена переменных, например <code>data</code> и <code>date</code>.</strong> Бегло прочитать такой код почти невозможно. А уж заметить опечатку и поправить её… Ммммм… Мы здесь надолго, время попить чайку.</p>
<h3><a class="main__anchor" href="#а-к-р-о-н-и-м" name="а-к-р-о-н-и-м">А.К.Р.О.Н.И.М</a></h3><p>Используйте сокращения, чтобы сделать код короче.</p>
<p>Например <code>ie</code> (Inner Element), <code>mc</code> (Money Counter) и другие. Если вы обнаружите, что путаетесь в них сами – героически страдайте, но не переписывайте код. Вы знали, на что шли.</p>
<h3><a class="main__anchor" href="#хитрые-синонимы" name="хитрые-синонимы">Хитрые синонимы</a></h3><blockquote class="quote"><div class="quote__i"><div class="quote__text"><p>Очень трудно найти чёрную кошку в тёмной комнате, особенно когда её там нет.</p>
</div></div><footer class="quote__footer">
<cite class="quote__author">Конфуций</cite>
</footer></blockquote><p><strong>Чтобы было не скучно – используйте <em>похожие названия</em> для обозначения <em>одинаковых действий</em>.</strong></p>
<p>Например, если метод показывает что-то на экране – начните его название с <code>display..</code> (скажем, <code>displayElement</code>), а в другом месте объявите аналогичный метод как <code>show..</code> (<code>showFrame</code>).</p>
<p><strong>Как бы намекните этим, что существует тонкое различие между способами показа в этих методах, хотя на самом деле его нет.</strong></p>
<p>По возможности, договоритесь с членами своей команды. Если Вася в своих классах использует <code>display..</code>, то Валера – обязательно <code>render..</code>, а Петя – <code>paint..</code>.</p>
<p><strong>…И напротив, если есть две функции с важными отличиями – используйте одно и то же слово для их описания!</strong> Например, с <code>print...</code> можно начать метод печати на принтере <code>printPage</code>, а также – метод добавления текста на страницу <code>printText</code>.</p>
<p>А теперь, пусть читающий код думает: «Куда же выводит сообщение <code>printMessage</code>?». Особый шик – добавить элемент неожиданности. Пусть <code>printMessage</code> выводит не туда, куда все, а в новое окно!</p>
<h3><a class="main__anchor" href="#словарь-терминов-это-еда" name="словарь-терминов-это-еда">Словарь терминов – это еда!</a></h3><p>Ни в коем случае не поддавайтесь требованиям написать словарь терминов для проекта. Если же он уже есть – не следуйте ему, а лучше проглотите и скажите, что так и былО!</p>
<p>Пусть читающий ваш код программист напрасно ищет различия в <code>helloUser</code> и <code>welcomeVisitor</code> и пытается понять, когда что использовать. Вы-то знаете, что на самом деле различий нет, но искать их можно о-очень долго.</p>
<p><strong>Для обозначения посетителя в одном месте используйте <code>user</code>, а в другом <code>visitor</code>, в третьем – просто <code>u</code>. Выбирайте одно имя или другое, в зависимости от функции и настроения.</strong></p>
<p>Это воплотит сразу два ключевых принципа ниндзя-дизайна – <em>сокрытие информации</em> и <em>подмена понятий</em>!</p>
<h3><a class="main__anchor" href="#повторно-используйте-имена" name="повторно-используйте-имена">Повторно используйте имена</a></h3><p>По возможности, повторно используйте имена переменных, функций и свойств. Просто записывайте в них новые значения.</p>
<p>Добавляйте новое имя только если это абсолютно необходимо.</p>
<p>В функции старайтесь обойтись только теми переменными, которые были переданы как параметры.</p>
<p>Это не только затруднит идентификацию того, что <em>сейчас</em> находится в переменной, но и сделает почти невозможным поиск места, в котором конкретное значение было присвоено.</p>
<p>Цель – максимально усложнить отладку и заставить читающего код программиста построчно анализировать код и конспектировать изменения переменных для каждой ветки исполнения.</p>
<p><strong>Продвинутый вариант этого подхода – незаметно (!) подменить переменную на нечто похожее, например:</strong></p>
<div class="code-example" data-trusted="1">
<div class="codebox code-example__codebox">
<div class="codebox__code" data-code="1">
<pre class="line-numbers language-javascript"><code class="language-javascript">function ninjaFunction(elem) {
  // 20 строк кода, работающего с elem

  elem = elem.cloneNode(true);

  // еще 20 строк кода, работающего с elem
}</code></pre>
</div>
</div>
</div><p>Программист, пожелавший добавить действия с <code>elem</code> во вторую часть функции, будет удивлён. Лишь во время отладки, посмотрев весь код, он с удивлением обнаружит, что оказывается имел дело с клоном!</p>
<p>Регулярные встречи с этим приемом на практике говорят: защититься невозможно. Эффективно даже против опытного ниндзи.</p>
<h3><a class="main__anchor" href="#добавляйте-подчеркивания" name="добавляйте-подчеркивания">Добавляйте подчеркивания</a></h3><p>Добавляйте подчеркивания <code>_</code> и <code>__</code> к именам переменных. Желательно, чтобы их смысл был известен только вам, а лучше – вообще без явной причины.</p>
<p>Этим вы достигните двух целей. Во-первых, код станет длиннее и менее читаемым, а во-вторых, другой программист будет долго искать смысл в подчёркиваниях. Особенно хорошо сработает и внесет сумятицу в его мысли, если в некоторых частях проекта подчеркивания будут, а в некоторых – нет.</p>
<p>В процессе развития кода вы, скорее всего, будете путаться и смешивать стили: добавлять имена с подчеркиваниями там, где обычно подчеркиваний нет, и наоборот. Это нормально и полностью соответствует третьей цели – увеличить количество ошибок при внесении исправлений.</p>
<h3><a class="main__anchor" href="#покажите-вашу-любовь-к-разработке" name="покажите-вашу-любовь-к-разработке">Покажите вашу любовь к разработке</a></h3><p>Пусть все видят, какими замечательными сущностями вы оперируете! Имена <code>superElement</code>, <code>megaFrame</code> и <code>niceItem</code> при благоприятном положении звёзд могут привести к просветлению читающего.</p>
<p>Действительно, с одной стороны, кое-что написано: <code>super..</code>, <code>mega..</code>, <code>nice..</code> С другой – это не несёт никакой конкретики. Читающий может решить поискать в этом глубинный смысл и замедитировать на часок-другой оплаченного рабочего времени.</p>
<h3><a class="main__anchor" href="#перекрывайте-внешние-переменные" name="перекрывайте-внешние-переменные">Перекрывайте внешние переменные</a></h3><blockquote class="quote"><div class="quote__i"><div class="quote__text"><p>Находясь на свету, нельзя ничего увидеть в темноте.<br>
Пребывая же в темноте, увидишь все, что находится на свету.</br></p>
</div></div><footer class="quote__footer">
<cite class="quote__author">Гуань Инь-цзы</cite>
</footer></blockquote><p>Почему бы не использовать одинаковые переменные внутри и снаружи функции? Это просто и не требует придумывать новых имён.</p>
<div class="code-example" data-highlight-inline="0:4-8,3:6-10" data-trusted="1">
<div class="codebox code-example__codebox">
<div class="codebox__code" data-code="1">
<pre class="line-numbers language-javascript"><code class="language-javascript">var user = authenticateUser();

function render() {
  var user = anotherValue();
  ...
  ...многобукв...
  ...
  ... // &lt;-- программист захочет внести исправления сюда, и..
  ...
}</code></pre>
</div>
</div>
</div><p>Зашедший в середину метода <code>render</code> программист, скорее всего, не заметит, что переменная <code>user</code> локально перекрыта и попытается работать с ней, полагая, что это результат <code>authenticateUser()</code>… Ловушка захлопнулась! Здравствуй, отладчик.</p>
<h2><a class="main__anchor" href="#мощные-функции" name="мощные-функции">Мощные функции!</a></h2><p>Не ограничивайте действия функции тем, что написано в её названии. Будьте шире.</p>
<p>Например, функция <code>validateEmail(email)</code> может, кроме проверки e-mail на правильность, выводить сообщение об ошибке и просить заново ввести e-mail.</p>
<p><strong>Выберите хотя бы пару дополнительных действий, кроме основного назначения функции.</strong></p>
<p>Главное – они должны быть неочевидны из названия функции. Истинный ниндзя-девелопер сделает так, что они будут неочевидны и из кода тоже.</p></cut></div></meta></article></main></div></body></html>